Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codecov.yml:

coverage:
  status:
    project: off
    patch: off

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: package_dynssz
      name: dynssz
      paths:
        - "*"
    - component_id: command_dynsszgen
      name: dynsszgen
      paths:
        - "codegen/**"
        - "dynssz-gen/**"

codegen: guard a declared size on every path, and only where it is formed
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_size.go
  codegen/tests/platform_test.go
Due: dynsszgen

ssztypes: keep a method the type declares beside a promoted one
  codegen/parser_test.go
  codegen/tests/probe_test.go
  codegen/tests/types.go
  ssztypes/compatibility.go
  ssztypes/typecache.go
Due: dynsszgen

tests/fuzz: hold each engine to the size it reports
  tests/fuzz/engine/engine.go
  tests/fuzz/engine/reporter.go
Due: none

sszutils: register an annotation once
  sszutils/annotate.go
  sszutils/annotate_test.go
Due: none

codegen/tests: run the platform subtests in parallel
  codegen/tests/platform_test.go
Due: dynsszgen

hasher, treeproof: reduce an over-limit scope at the depth its chunks need
  hasher/hasher.go
  hasher/hasher_test.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

codegen/tests: reach the generated methods through interfaces
  codegen/tests/platform_test.go
Due: dynsszgen

codegen/tests: keep the platform cases out of test helpers
  codegen/tests/platform_test.go
Due: dynsszgen

tests/fuzz: bound the size before it is narrowed
  tests/fuzz/engine/engine.go
Due: none

state the size bound where a value is narrowed
  dynssz.go
  reflection/unmarshal.go
  ssztypes/ssztags.go
Due: dynssz

tests/fuzz: compare the size in the domain the engine answers in
  tests/fuzz/engine/engine.go
Due: none

codegen: bound a vector length by the width of one element
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
Due: dynsszgen

codegen: resolve a vector's bounded length in one place
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
Due: dynsszgen

reflection: reserve a vector from what arrived, not from what it declares
  dynssz_test.go
  reflection/unmarshal.go
Due: dynssz

dynssz: say what a declared size does to the allocations
  options.go
Due: dynssz

enforce a big.Int limit the spec supplies
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_mixed.yaml
  codegen/tests/types.go
  dynssz_test.go
  reflection/marshal.go
Due: dynssz, dynsszgen

sszutils: read a region's remainder from what arrives
  sszutils/decoder_stream.go
  sszutils/stream_test.go
Due: none

spectests: take the vectors from the consensus-specs releases
  .github/workflows/ci-tests.yml
  tests/spectests/README.md
  tests/spectests/codegen-views/types.go
  tests/spectests/codegen-views/views.go
  tests/spectests/codegen/types.go
  tests/spectests/presets/mainnet-preset.yaml
  tests/spectests/presets/minimal-preset.yaml
  tests/spectests/setup_test_data.sh
  tests/spectests/spectests_fulu_test.go
Due: none

spectests: cover the gloas types
  tests/spectests/codegen-views/types.go
  tests/spectests/codegen-views/views.go
  tests/spectests/codegen/types.go
  tests/spectests/spectests_gloas_test.go
Due: none

hasher: report a hash function that failed
  hasher/async.go
  hasher/async_test.go
  hasher/hasher.go
  hasher/hasher_test.go
  treeproof/tree_test.go
Due: none

ci: compare benchmark time across several code layouts
  .github/tools/bench-layout.sh
  .github/workflows/benchmark.yml
Due: none

ci: add a tool that counts the instructions a benchmark retires
  .github/tools/bench-instructions.sh
Due: none

ssztypes: state no floor for a vector product that does not fit
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: none

docs: say what a declared length does to a wider array, and what marks a dynamic size
  docs/ssz-annotations.md
  ssztypes/descriptor.go
Due: none

hasher, treeproof: reduce a scope in the shape it was opened for
  hasher/hasher.go
  sszutils/error.go
  treeproof/collapse_invariant_test.go
  treeproof/wrapper.go
Due: none

sszutils: refuse a region declared past the extent of the input
  sszutils/decoder_buffer.go
  sszutils/decoder_stream.go
  sszutils/stream_test.go
  sszutils/utils_test.go
Due: none

reflection: check a vector against the input where the vector is reserved
  dynssz_test.go
  reflection/unmarshal.go
Due: dynssz

ssztypes: group the descriptor's fields by how often they are read
  examples/htr-caching/types_ssz.go
  ssztypes/descriptor.go
  ssztypes/descriptor_test.go
  ssztypes/typecache.go
Due: none

perftests: add a fixture dense in slice-declared vectors
  tests/perftests/bench_test.go
  tests/perftests/generate.go
  tests/perftests/types.go
Due: none

dynssz: do not size a value twice to stream it
  dynssz.go
  dynssz_test.go
Due: dynssz

reflection: hand a decoded bitlist over without boxing its header
  reflection/unmarshal.go
Due: none

hasher: keep the outstanding-job test cheap enough to inline
  hasher/async.go
Due: none

reflection: cover growing a dynamic vector over an open region
  dynssz_test.go
Due: dynssz

reflection: admit each fastssz marshal method by its own flag
  dynssz_test.go
  reflection/marshal.go
Due: dynssz

codegen: enforce a spec-supplied big.Int limit in the streaming encoder too
  codegen/gen_encoder.go
  codegen/tests/codegen_test.go
Due: dynsszgen

dynssz: weigh streamed output against the size again
  dynssz.go
  dynssz_test.go
Due: dynssz

tests: drive every embedding shape through both engines
  tests/promomatrix/.gitignore
  tests/promomatrix/gen.go
  tests/promomatrix/generate.go
Due: none

codegen: cap a delegated field's size literal like its siblings
  codegen/gen_decoder.go
Due: dynsszgen

codegen: sum generated sizes in a domain no product escapes
  codegen/gen_common.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/platform_test.go
  codegen/tests/types.go
Due: dynsszgen

hasher: let the very large cases take their turn on a narrow address space
  hasher/incremental_test.go
Due: none
