Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codecov.yml:

coverage:
  status:
    project: off
    patch: off

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: package_dynssz
      name: dynssz
      paths:
        - "*"
    - component_id: command_dynsszgen
      name: dynsszgen
      paths:
        - "codegen/**"
        - "dynssz-gen/**"

release `1.2.1`
  codegen/version.go
  examples/basic/go.mod
  examples/codegen/go.mod
  examples/custom-types/go.mod
  examples/progressive-merkleization/go.mod
  examples/versioned-blocks/go.mod
  spectests/go.mod
  test/go.mod
Due: dynsszgen

add support for custom ssz views
  dynssz.go
  options.go
  ssztypes/descriptor.go
  ssztypes/typecache.go
  sszutils/interfaces.go
Due: dynssz

use field index from TypeDescripter in reflection operations to support custom schemas with different field order
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: none

add typecache tests to cover views
  ssztypes/typecache_test.go
Due: none

add view interface detection & make use of them when available
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/compatibility.go
  ssztypes/descriptor.go
  ssztypes/typecache.go
  sszutils/error.go
  sszutils/interfaces.go
Due: none

prepare code generator for custom views
  reflection/common_test.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/sszsize.go
  reflection/sszsize_test.go
  reflection/treeroot.go
  reflection/treeroot_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  ssztypes/typecache.go
  sszutils/error.go
  sszutils/interfaces.go
Due: none

various fixes for custom view handling
  codegen/parser.go
  codegen/parser_test.go
  dynssz.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/sszsize.go
  reflection/sszsize_test.go
  reflection/treeroot.go
  reflection/treeroot_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  ssztypes/descriptor.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  ssztypes/union.go
Due: dynssz, dynsszgen

fix test
  codegen/codegen.go
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_hashtreeroot_test.go
  codegen/gen_marshal.go
  codegen/gen_marshal_test.go
  codegen/gen_size.go
  codegen/gen_size_test.go
  codegen/gen_unmarshal.go
  codegen/gen_unmarshal_test.go
  codegen/generate.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/generate.go
  codegen/tests/types.go
  codegen/typename.go
  codegen/typename_test.go
  codegen/utils.go
  dynssz-gen/main.go
  dynssz.go
  reflection/marshal_test.go
Due: dynssz, dynsszgen

add support for views from external packages
  codegen/tests/codegen_test.go
  codegen/tests/generate.go
  codegen/tests/views/views.go
  dynssz-gen/main.go
Due: dynsszgen

add spectests for generated code
  .github/workflows/ci-tests.yml
  codegen/gen_encoder.go
  codegen/gen_size.go
  spectests/codegen/.gitignore
  spectests/codegen/generate.sh
  spectests/codegen/types.go
  spectests/go.mod
  spectests/go.sum
  spectests/run_tests.sh
  spectests/spectests_altair_test.go
  spectests/spectests_bellatrix_test.go
  spectests/spectests_capella_test.go
  spectests/spectests_deneb_test.go
  spectests/spectests_electra_test.go
  spectests/spectests_fulu_test.go
  spectests/spectests_phase0_test.go
  spectests/spectests_test.go
Due: dynsszgen

implement alias resolver
  .vscode/launch.json
  codegen/aliases.go
  codegen/codegen.go
  codegen/gen_decoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_hashtreeroot_test.go
  codegen/gen_marshal.go
  codegen/gen_marshal_test.go
  codegen/generate.go
  codegen/parser.go
  codegen/typename.go
  codegen/utils.go
  dynssz-gen/main.go
Due: dynsszgen

small codegen fixes for views
  codegen/gen_hashtreeroot.go
  codegen/parser.go
Due: dynsszgen

improve spectests with codegen
  codegen/gen_hashtreeroot.go
  codegen/generate.go
  spectests/codegen-views/.gitignore
  spectests/codegen-views/generate.sh
  spectests/codegen-views/types.go
  spectests/codegen-views/views.go
  spectests/codegen/generate.sh
  spectests/spectests_altair_test.go
  spectests/spectests_bellatrix_test.go
  spectests/spectests_capella_test.go
  spectests/spectests_deneb_test.go
  spectests/spectests_electra_test.go
  spectests/spectests_fulu_test.go
  spectests/spectests_phase0_test.go
  spectests/spectests_test.go
Due: dynsszgen

implement proper function usage for view/non-view operations
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  codegen/typename.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  spectests/spectests_test.go
  ssztypes/descriptor.go
  ssztypes/typecache.go
Due: dynsszgen

add spectests with codegen & views
  spectests/spectests_altair_test.go
  spectests/spectests_bellatrix_test.go
  spectests/spectests_capella_test.go
  spectests/spectests_deneb_test.go
  spectests/spectests_electra_test.go
  spectests/spectests_fulu_test.go
Due: none

add documentation for ssz views
  README.md
  docs/README.md
  docs/api-reference.md
  docs/code-generator.md
  docs/views.md
Due: dynssz

fix cli -types parsing
  dynssz-gen/main.go
  dynssz-gen/main_test.go
Due: dynsszgen

minor codegen format fixes
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/generate.go
Due: dynsszgen

synchronize specValueCache to avoid concurrent map read/write panic
  dynssz.go
  specvals.go
Due: dynssz

Refactor getZeroOrderHashes
  treeproof/tree.go
Due: none

add extended type support to reflection based codepaths
  dynssz.go
  options.go
  reflection/common.go
  reflection/common_test.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/sszsize.go
  reflection/sszsize_test.go
  reflection/treeroot.go
  reflection/treeroot_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz

add extended type support to code generator
  codegen/codegen.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/generate.go
  codegen/tests/types.go
  dynssz-gen/main.go
Due: dynsszgen

add more tests for extended types
  codegen/parser.go
  reflection/common_test.go
  reflection/treeroot.go
  ssztypes/typecache.go
Due: dynsszgen

improve test coverage for extended types
  codegen/gen_hashtreeroot.go
  reflection/common_test.go
  reflection/marshal_test.go
  reflection/sszsize_test.go
  reflection/treeroot.go
  reflection/treeroot_test.go
  reflection/unmarshal_test.go
  ssztypes/typecache_test.go
Due: dynsszgen

add documentation for extended types
  README.md
  docs/README.md
  docs/code-generator.md
  docs/extended-types.md
  docs/ssz-annotations.md
  docs/supported-types.md
  ssztypes/typecache_test.go
Due: dynssz

implement fuzzer
  codegen/gen_unmarshal.go
  fuzz/.gitignore
  fuzz/Makefile
  fuzz/cmd/fuzz/main.go
  fuzz/cmd/generate/main.go
  fuzz/corpus/.gitignore
  fuzz/corpus/corpus.go
  fuzz/engine/engine.go
  fuzz/engine/filler.go
  fuzz/engine/reporter.go
  fuzz/typegen/generator.go
Due: dynsszgen

add parallel fuzzing workers
  fuzz/cmd/fuzz/main.go
  fuzz/engine/engine.go
Due: none

share dynssz instance across workers for resuced memory usage
  fuzz/cmd/fuzz/main.go
  fuzz/engine/engine.go
Due: none

add fuzzing workflow
  .github/workflows/fuzz.yml
Due: none

fuzzer fixes
  .github/workflows/fuzz.yml
  fuzz/cmd/fuzz/main.go
  fuzz/engine/engine.go
  fuzz/typegen/generator.go
Due: none

add multi-dimensional lists & vectors to fuzzer & fix various fuzzer issues
  codegen/gen_hashtreeroot.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/parser_test.go
  fuzz/engine/filler.go
  fuzz/engine/reproduce_test.go
  fuzz/typegen/generator.go
  hasher/hasher.go
  hasher/hasher_test.go
  reflection/common_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

exclude fuzzer from codecov tracking & add smoke test to ci
  .github/workflows/ci-tests.yml
  codecov.yml
Due: dynssz

improve test coverage in sszutils package
  sszutils/decoder_stream.go
  sszutils/stream_test.go
  sszutils/utils_test.go
Due: none

improve coverage in reflection package
  codecov.yml
  reflection/common_test.go
  reflection/treeroot_test.go
  reflection/unmarshal_test.go
Due: dynssz

improve test coverage & remove dead code
  codecov.yml
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  sszutils/decoder_stream.go
Due: dynssz

full reflection package coverage
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/tests/types.go
  reflection/common_internal_test.go
  reflection/common_test.go
  reflection/marshal_test.go
  reflection/sszsize_test.go
  reflection/treeroot_test.go
  treeproof/proof_test.go
  treeproof/wrapper_test.go
Due: dynsszgen

improve coverage for public entrypoints
  dynssz.go
  dynssz_test.go
  global.go
Due: dynssz

fix README
  spectests/README.md
Due: none

update README
  README.md
Due: dynssz

improve treeproof coverage
  treeproof/proof_test.go
  treeproof/tree_test.go
  treeproof/wrapper_test.go
Due: none
