Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

Resolve each view's spec expressions by a builder of its own, keyed by the type it serves
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/generate.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_viewtypes4.yaml
  codegen/tests/types.go
  codegen/utils_test.go
  docs/code-generator.md
  examples/htr-caching/types_ssz.go
  specvals_test.go
  sszutils/specvalue.go
  sszutils/specvalue_test.go
Due: dynssz, dynsszgen

Call the single-parameter GetCachedSpecSet in the instance test and the generator docs
  docs/code-generator.md
  specvals_test.go
Due: dynssz

Regenerate the caching example with its earlier output moved aside, so the run is reproducible
  examples/htr-caching/generate.go
Due: none

Key a view's spec set by the view type itself rather than the pointer it is referenced through
  codegen/codegen_test.go
  codegen/generate.go
  codegen/typename.go
  sszutils/specvalue.go
  sszutils/specvalue_test.go
Due: dynsszgen

Resolve the spec expressions of a generated type once per DynSsz instance (#244)
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_decoder_test.go
  codegen/gen_encoder.go
  codegen/gen_encoder_test.go
  codegen/gen_hashtreeroot.go
  codegen/gen_hashtreeroot_test.go
  codegen/gen_marshal.go
  codegen/gen_marshal_test.go
  codegen/gen_size.go
  codegen/gen_size_test.go
  codegen/gen_unmarshal.go
  codegen/gen_unmarshal_test.go
  codegen/generate.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_viewtypes4.yaml
  codegen/tests/types.go
  codegen/typename.go
  codegen/utils_test.go
  docs/code-generator.md
  dynssz.go
  examples/htr-caching/generate.go
  examples/htr-caching/types_ssz.go
  specvals.go
  specvals_test.go
  sszutils/specvalue.go
  sszutils/specvalue_test.go
Due: dynssz, dynsszgen

fix: merge Annotate into TypeWrapper and union field tags
  annotation_join_test.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_annotated.yaml
  codegen/tests/types.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typewrapper.go
  ssztypes/union.go
Due: dynssz, dynsszgen

Move the annotation join test into dynssz_test.go next to the other annotation tests
  annotation_join_test.go
  dynssz_test.go
Due: dynssz

fix: merge Annotate into TypeWrapper and union field tags (#245)
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_annotated.yaml
  codegen/tests/types.go
  dynssz_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typewrapper.go
  ssztypes/union.go
Due: dynssz, dynsszgen

fix: frame a spec-sized union variant at its resolved width in the generated buffer decoder
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

fix: reduce a scope opened through Index in place and never defer it into its parent
  hasher/async_test.go
  hasher/hasher.go
  hasher/hasher_test.go
  treeproof/wrapper_test.go
Due: none

hasher: narrow the per-layer depth and run counters to their bounds
  hasher/async.go
  hasher/async_test.go
  hasher/hasher.go
Due: none

fix: hash a generated large uint held as words as packed bytes inside a packed scope
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/code-generator.md
  docs/delegation.md
Due: dynsszgen

fix: let a field type hint override a type's own methods only when it names another SSZ type
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/probe_test.go
  codegen/tests/types.go
  docs/ssz-annotations.md
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  ssztypes/wellknown.go
Due: dynsszgen

codegen, ssztypes: satisfy the linters on the kind switches and probe tests
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/probe_test.go
  ssztypes/typecache.go
Due: dynsszgen

hasher: drop the declared shape flag and the deferral guard an Index scope no longer needs
  hasher/async.go
  hasher/hasher.go
  hasher/hasher_test.go
Due: none

ci: drop the block and state perftests from the benchmark workflow
  .github/workflows/benchmark-comment.yml
  .github/workflows/benchmark.yml
Due: none

ci: drop the block and state perftests from the benchmark workflow (#250)
  .github/workflows/benchmark-comment.yml
  .github/workflows/benchmark.yml
Due: none

Fix union variant framing, Index scopes, packed large-uint roots and field type hints (#249)
  codegen/gen_hashtreeroot.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/probe_test.go
  codegen/tests/types.go
  docs/code-generator.md
  docs/delegation.md
  docs/ssz-annotations.md
  hasher/async.go
  hasher/async_test.go
  hasher/hasher.go
  hasher/hasher_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  ssztypes/wellknown.go
  treeproof/wrapper_test.go
Due: dynsszgen

Walk a generated type's static surface by reflection under WithNoDelegation
  codegen/tests/codegen_test.go
  docs/delegation.md
  options.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Keep a generated child's static surface in the generator's analysis cache
  codegen/codegen_test.go
  ssztypes/typecache.go
Due: dynsszgen

Say that an unannotated type keeps its static surface under WithNoDelegation on purpose
  docs/delegation.md
  ssztypes/typecache_test.go
Due: none

fix: bound the multiproof required-indices cache
  treeproof/proof.go
  treeproof/proof_cache_test.go
Due: none

Decide the static surface under WithNoDelegation by the method set alone
  codegen/codegen_test.go
  docs/delegation.md
  options.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Refuse a zero-field struct whatever its methods; a self-serializing one is custom
  codegen/codegen_test.go
  codegen/parser.go
  dynssz_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

fix: bound the multiproof required-indices cache (#252)
  treeproof/proof.go
  treeproof/proof_cache_test.go
Due: none

Reach a static child from a static build's streaming methods when fastssz is off
  codegen/codegen_test.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
Due: dynsszgen

Walk a generated type's static surface by reflection under WithNoDelegation (#251)
  codegen/codegen_test.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  docs/delegation.md
  dynssz_test.go
  options.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Size a spec-carrying child inline in a static build's streaming encoder
  codegen/codegen_test.go
  codegen/gen_size.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_nodynexpr.yaml
  codegen/tests/types.go
  docs/code-generator.md
Due: dynsszgen

docs: state that a static build cannot hold a spec-dependent dynamic type
  docs/code-generator.md
  docs/delegation.md
Due: none

Refresh SSZ conformance and fuzz hardening
  .github/workflows/ci-tests.yml
  tests/fuzz/README.md
  tests/fuzz/cmd/fuzz/main.go
  tests/fuzz/engine/engine.go
  tests/fuzz/engine/filler.go
  tests/fuzz/engine/filler_union_test.go
  tests/fuzz/engine/oracle_ref.go
  tests/fuzz/engine/oracle_ref_test.go
  tests/fuzz/engine/oracles.go
  tests/fuzz/engine/proofs.go
  tests/fuzz/engine/reporter.go
  tests/fuzz/typegen/generator.go
  tests/sszspecs/.gitignore
  tests/sszspecs/README.md
  tests/sszspecs/setup_test_data.sh
  tests/sszspecs/sszspecs_test.go
  tests/sszspecs/types_test.go
Due: none

fix official vector test lint
  tests/sszspecs/sszspecs_test.go
Due: none

Treat a custom type with spec-aware methods as depending on the spec
  codegen/codegen_test.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_size.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_nodynexpr.yaml
  codegen/tests/types.go
  docs/delegation.md
  ssztypes/descriptor.go
  ssztypes/typecache.go
Due: dynsszgen

Move the streaming size decisions out of sizeType
  codegen/gen_size.go
  codegen/tests/types.go
Due: dynsszgen

run fuzz CI across fresh generated corpora
  .github/workflows/ci-tests.yml
  tests/fuzz/README.md
Due: none

Add official SSZ conformance gate and independent fuzz oracles (#224)
  .github/workflows/ci-tests.yml
  tests/fuzz/README.md
  tests/fuzz/cmd/fuzz/main.go
  tests/fuzz/engine/engine.go
  tests/fuzz/engine/filler.go
  tests/fuzz/engine/filler_union_test.go
  tests/fuzz/engine/oracle_ref.go
  tests/fuzz/engine/oracle_ref_test.go
  tests/fuzz/engine/oracles.go
  tests/fuzz/engine/reporter.go
  tests/fuzz/typegen/generator.go
  tests/sszspecs/.gitignore
  tests/sszspecs/README.md
  tests/sszspecs/setup_test_data.sh
  tests/sszspecs/sszspecs_test.go
  tests/sszspecs/types_test.go
Due: none

Size a spec-carrying child inline in a static build's streaming encoder (#253)
  codegen/codegen_test.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_size.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_nodynexpr.yaml
  codegen/tests/types.go
  docs/code-generator.md
  docs/delegation.md
  ssztypes/descriptor.go
  ssztypes/typecache.go
Due: dynsszgen

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
