Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codegen: guard every declared size the target platform cannot hold
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

ssztypes, codegen: state the bit limit without a division, restore every displaced doc comment
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz-gen/main.go
  dynssz_test.go
  hasher/hasher.go
  reflection/marshal.go
  reflection/unmarshal_test.go
  ssztypes/descriptor.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  sszutils/utils_test.go
  treeproof/wrapper.go
Due: dynssz, dynsszgen

codegen: describe a delegated type as the type cache does, guard a declared list element size
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

treeproof, reflection, codegen: lay bytes out alike in both walkers and trust a delegate with its own output
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  docs/api-reference.md
  docs/code-generator.md
  docs/supported-types.md
  dynssz_test.go
  reflection/treeroot.go
  sszutils/error.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynssz, dynsszgen

dynssz, reflection: bound a size a value reports for itself, read the caller's specs from a copy
  dynssz.go
  dynssz_test.go
  reflection/sszsize.go
Due: dynssz

codegen/tests: check what the generated code does, not what it says
  codegen/tests/codegen_test.go
Due: dynsszgen

hasher: open a scope on a chunk boundary, as the tree walker does
  codegen/tests/codegen_test.go
  hasher/hasher.go
  hasher/hasher_test.go
Due: dynsszgen

codegen: form every fixed-section byte position through one capping helper
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/tests/gen_extended.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
Due: dynssz, dynsszgen

codegen: keep a delegated type's declared identity, and compare both front ends across every delegate shape
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

dynssz, reflection, ssztypes: bound the prefix sum, the summed size and a bit count in its own unit
  dynssz.go
  dynssz_test.go
  reflection/sszsize.go
  ssztypes/typecache.go
Due: dynssz

ssztypes, codegen: read a type's static framing from its own annotation, and let a reference declaring another type override it
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
Due: dynsszgen

sszutils: bound an offset back-patch by the bytes written, not by the buffer capacity
  sszutils/encoder_buffer.go
  sszutils/utils_test.go
Due: none

dynssz-gen: resolve a linked output directory before grouping output files
  dynssz-gen/main.go
  dynssz-gen/main_test.go
Due: dynsszgen

codegen: refuse a delegated type whose annotation the tag parser rejects
  codegen/parser.go
  codegen/parser_test.go
Due: dynsszgen

ssztypes: state the size limit at the narrowing it guards
  ssztypes/typecache.go
Due: none

ssztypes: bound a spec-resolved size against the signed size domain before narrowing it
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: none

tests/perftests: benchmark tree generation on the mainnet state
  tests/perftests/bench_test.go
Due: none

treeproof, hasher: count chunks from the start of the region they belong to
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  hasher/hasher.go
  hasher/hasher_test.go
  treeproof/parity_test.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynsszgen

hasher: pin that a collapse hint does not move a root across the batch threshold
  hasher/hasher_test.go
Due: none

treeproof: mark the harness switches the exhaustive linter flags
  treeproof/parity_test.go
Due: none

tests/fuzz: run the hash walker parity harness from the fuzzer
  tests/fuzz/cmd/fuzz/main.go
  tests/fuzz/engine/engine.go
  tests/fuzz/walker/walker.go
  tests/fuzz/walker/walker_test.go
  treeproof/wrapper.go
Due: none

tests: cover the walker's legacy adders, the annotation override check, the offset refusals and the CLI collision path
  dynssz-gen/main_test.go
  dynssz_test.go
  ssztypes/typecache_test.go
  treeproof/wrapper_test.go
Due: dynssz, dynsszgen

ci: name every coverage profile so the 32-bit and endianness runs are always merged
  .github/workflows/ci-tests.yml
  dynssz-gen/main_test.go
Due: dynsszgen

ci: upload coverage by discovery again
  .github/workflows/ci-tests.yml
Due: none

tests: cut the CI cost of the slowest tests without changing what they check
  codegen/codegen_test.go
  codegen/tests/codegen_test.go
  dynssz-gen/main_test.go
  dynssz_test.go
  hasher.test
  hasher/async_test.go
  hasher/hasher_extended_test.go
  internal/racetest/racetest.go
  tests/fuzz/walker/walker_test.go
Due: dynssz, dynsszgen

tests: probe the race detector where it is used, without a package for it
  codegen/tests/codegen_test.go
  dynssz_test.go
  hasher/hasher_extended_test.go
  internal/racetest/racetest.go
Due: dynssz, dynsszgen

codegen: keep a delegated type's size expression, and read that width from its sizer
  codegen/gen_common.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

codegen: form a union variant's length and a field position behind a wide static one through the capping helper
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

reflection: bound a list's element count where it enters
  codegen/tests/types.go
  dynssz_test.go
  reflection/sszsize.go
Due: dynssz, dynsszgen

dynssz-gen: restore an output file it could not replace
  dynssz-gen/main.go
  dynssz-gen/main_test.go
Due: dynsszgen

treeproof: build an empty byte value as a zero leaf
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: none

dynssz: own the spec values it is given
  dynssz.go
  dynssz_test.go
Due: dynssz

codegen: keep a declared size exact where it decides something
  codegen/gen_decoder.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
Due: dynsszgen

dynssz-gen: list the recursion depth flag in the help text
  dynssz-gen/main.go
Due: dynsszgen

ssz: probe each fastssz method on its own
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/recursion.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/probe_test.go
  codegen/tests/types.go
  docs/api-reference.md
  dynssz.go
  dynssz_test.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/overflow_internal_test.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/compatibility.go
  ssztypes/descriptor.go
  ssztypes/recursion.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  sszutils/interfaces.go
Due: dynssz, dynsszgen

tests: reach the delegate fallback and the output restore paths
  codegen/tests/gen_ssz.yaml
  codegen/tests/probe_test.go
  codegen/tests/types.go
  dynssz-gen/main_test.go
Due: dynsszgen

remove test binary
  hasher.test
Due: dynssz

dynssz: say what a generated size answers for a value that does not encode
  dynssz.go
Due: dynssz

ignore compiled test binaries
  .gitignore
Due: dynssz

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
