Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codecov.yml:

coverage:
  status:
    project: off
    patch: off

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: package_dynssz
      name: dynssz
      paths:
        - "*"
    - component_id: command_dynsszgen
      name: dynsszgen
      paths:
        - "codegen/**"
        - "dynssz-gen/**"

bump go-hashtree bindings
  examples/basic/go.mod
  examples/basic/go.sum
  examples/codegen/go.mod
  examples/codegen/go.sum
  examples/custom-types/go.mod
  examples/custom-types/go.sum
  examples/progressive-merkleization/go.mod
  examples/progressive-merkleization/go.sum
  examples/versioned-blocks/go.mod
  examples/versioned-blocks/go.sum
  go.mod
  go.sum
  spectests/go.mod
  spectests/go.sum
Due: dynssz

downgrade golang requirement for base library to 1.22
  .github/dependabot.yml
  .github/workflows/ci-tests.yml
  go.mod
  go.sum
Due: dynssz

downgrade tests for 1.22 compatibility
  treeproof/proof_test.go
  treeproof/tree_test.go
Due: none

fix coverage reports
  .github/workflows/ci-tests.yml
Due: none

fix dependabot
  .github/dependabot.yml
Due: none

add error wrapper (`SszError`)
  sszutils/error.go
  sszutils/error_test.go
Due: none

add consistent error handling
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/sszsize_test.go
  reflection/treeroot.go
  reflection/treeroot_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  sszutils/error.go
  sszutils/error_test.go
Due: dynsszgen

improve error handling in type retrospection
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typewrapper.go
  ssztypes/typewrapper_test.go
  ssztypes/union.go
  ssztypes/union_test.go
  sszutils/error.go
  sszutils/error_test.go
  union_test.go
Due: dynssz

keep error wrapper internal
  sszutils/error.go
  sszutils/error_test.go
Due: none

create CHANGELOG.md
  CHANGELOG.md
Due: dynssz

add missing function header comments
  specvals.go
  ssztypes/typecache.go
  sszutils/decoder_buffer.go
  sszutils/encoder_buffer.go
  treeproof/tree.go
  treeproof/wrapper.go
Due: dynssz

update CHANGELOG & release workflow to autogenerate changelog
  .github/scripts/ai-release-notes.sh
  .github/scripts/update-changelog.sh
  .github/workflows/post-release.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: dynssz

make golangci-lint happy
  codegen/gen_decoder.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/typename.go
  codegen/utils.go
  dynssz-gen/main.go
  ssztypes/typecache.go
Due: dynsszgen

fix gocyclo issues
  codegen/generate.go
  reflection/marshal.go
Due: dynsszgen

fix error messages in generated code
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
Due: dynsszgen

use uint64 list helpers in condegen
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
Due: dynsszgen

batch offset insertion in codegen marshaler
  codegen/gen_marshal.go
Due: dynsszgen

implement path tracking in codegen
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
Due: dynsszgen

fix codeql issues
  treeproof/wrapper.go
  treeproof/wrapper_overflow_test.go
Due: none

fix golangci-lint issues
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
Due: dynsszgen

remove dead code
  codegen/gen_common.go
  codegen/gen_marshal.go
Due: dynsszgen

refactor treeproof package
  treeproof/proof.go
  treeproof/tree.go
Due: none

fix lint
  treeproof/tree.go
Due: none

perf: add bulk uint64 fast paths for marshal/unmarshal/HTR in reflection
  reflection/marshal.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: none

perf: optimize Hasher PutUint64/PutUint32/PutBool to avoid tmp buffer copy
  hasher/hasher.go
Due: none

perf: use HashUint64Slice for bulk HTR of uint64 lists/vectors
  reflection/treeroot.go
Due: none

perf: use unsafe byte access for addressable arrays in marshal/HTR
  reflection/marshal.go
  reflection/treeroot.go
Due: none

perf: add fast path in getSszValueSize for primitive/byte-array types
  reflection/sszsize.go
Due: none

perf: add fast paths in Merkleize for 1-chunk and 2-chunk inputs
  hasher/hasher.go
Due: none

perf: add fast path in PutBytes for exact 32-byte inputs
  hasher/hasher.go
Due: none

perf: optimize MerkleizeWithMixin/Progressive mixin size encoding
  hasher/hasher.go
Due: none
