Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codecov.yml:

coverage:
  status:
    project: off
    patch: off

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: package_dynssz
      name: dynssz
      paths:
        - "*"
    - component_id: command_dynsszgen
      name: dynsszgen
      paths:
        - "codegen/**"
        - "dynssz-gen/**"

bump hashtree-bindings for optimized riscv support
  go.mod
  go.sum
Due: dynssz

update nested dependencies
  examples/basic/go.mod
  examples/basic/go.sum
  examples/codegen/go.mod
  examples/codegen/go.sum
  examples/custom-types/go.mod
  examples/custom-types/go.sum
  examples/progressive-merkleization/go.mod
  examples/progressive-merkleization/go.sum
  examples/versioned-blocks/go.mod
  examples/versioned-blocks/go.sum
  tests/perftests/go.mod
  tests/perftests/go.sum
  tests/spectests/go.mod
  tests/spectests/go.sum
Due: none

skip StaticTrueShallow test without generated code
  codegen/parser_test.go
Due: dynsszgen

release `1.3.2`
  codegen/compat-tests/codegen_v1.3.2.tar.gz
  codegen/version.go
  examples/basic/go.mod
  examples/codegen/go.mod
  examples/custom-types/go.mod
  examples/progressive-merkleization/go.mod
  examples/versioned-blocks/go.mod
  tests/perftests/go.mod
  tests/spectests/go.mod
Due: dynsszgen

update CHANGELOG.md for v1.3.2
  CHANGELOG.md
Due: dynssz

fix GetTree htr mismatch
  treeproof/wrapper.go
  treeproof/wrapper_interleave_test.go
Due: none

format generated code
  codegen/generate.go
  codegen/utils.go
  codegen/utils_test.go
  tests/fuzz/typegen/generator.go
Due: dynsszgen

allow custom file headers
  codegen/codegen.go
  codegen/codegen_test.go
  codegen/generate.go
  docs/code-generator-config.md
  docs/code-generator.md
  dynssz-gen/config.go
  dynssz-gen/config_test.go
  dynssz-gen/main.go
Due: dynsszgen

fix default template
  codegen/codegen.go
  codegen/codegen_test.go
  docs/code-generator-config.md
Due: dynsszgen

address review comments: preserve trailing newlines in header template, tolerate CRLF in convention check
  codegen/codegen.go
  codegen/codegen_test.go
  codegen/generate.go
Due: dynsszgen

update README.md
  .github/workflows/golangci-lint.yml
  README.md
Due: dynssz

update md files
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: dynssz

fix unsafe optimizations for big endian architectures
  .github/workflows/ci-tests.yml
  sszutils/endianness_bench_test.go
  sszutils/endianness_generic.go
  sszutils/endianness_le.go
  sszutils/endianness_test.go
  sszutils/marshal.go
  sszutils/treeroot.go
  sszutils/unmarshal.go
  sszutils/utils_test.go
Due: none

optimize for known big endian architectures
  sszutils/endianness_be.go
  sszutils/endianness_generic.go
  sszutils/endianness_le.go
Due: none

speed up big endian CI test
  .github/workflows/ci-tests.yml
  sszutils/endianness_test.go
  sszutils/unmarshal.go
Due: none

add test coverage for big endian fallback paths
  .github/workflows/ci-tests.yml
  sszutils/endianness_be.go
  sszutils/endianness_generic.go
  sszutils/endianness_generic_test.go
  sszutils/endianness_le.go
  sszutils/endianness_test.go
Due: none

bump hashtree-bindings
  examples/basic/go.mod
  examples/basic/go.sum
  examples/codegen/go.mod
  examples/codegen/go.sum
  examples/custom-types/go.mod
  examples/custom-types/go.sum
  examples/progressive-merkleization/go.mod
  examples/progressive-merkleization/go.sum
  examples/versioned-blocks/go.mod
  examples/versioned-blocks/go.sum
  tests/perftests/go.mod
  tests/perftests/go.sum
  tests/spectests/go.mod
  tests/spectests/go.sum
Due: none

treeproof: harden proof verification and tree construction
  treeproof/proof.go
  treeproof/proof_test.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

implement unknown-size mode for UnmarshalSSZReader
  dynssz.go
  dynssz_test.go
Due: dynssz

codegen: enforce exact region consumption in buffer decoders
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

fix codegen/reflection descriptor divergences
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_annotated.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  options.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

fix streaming decoder region handling and delegated size collisions
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  sszutils/decoder_stream.go
  sszutils/stream_test.go
Due: dynsszgen

fix hasher merkleization edge cases and union selector numbering
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
  hasher/hasher.go
  hasher/hasher_test.go
  ssztypes/ssztags.go
  ssztypes/typecache_test.go
  ssztypes/union.go
  union_test.go
Due: dynssz, dynsszgen

codegen: error cleanly when regenerating over generated types
  codegen/codegen_test.go
  codegen/generate.go
Due: dynsszgen

codegen: emit compilable code for top-level named composite types
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

evaluate spec expressions with exact integer arithmetic
  codegen/parser.go
  codegen/parser_test.go
  dynssz_test.go
  specvals.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

remove govaluate dependency
  docs/api-reference.md
  dynssz_test.go
  go.mod
  go.sum
  specvals.go
Due: dynssz

deps: drop govaluate from spectests module
  tests/spectests/go.mod
  tests/spectests/go.sum
Due: none

reflection: fix vector decode into pointer-rooted named slices
  reflection/unmarshal.go
Due: none

treeproof: don't treat an overflowed negative limit as excess leaves
  treeproof/tree.go
Due: none

harden hashing, marshal sizing, stream encoding and pointer decoding
  codegen/gen_decoder.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz.go
  dynssz_test.go
  hasher/hasher.go
  hasher/hasher_test.go
  sszutils/encoder_stream.go
  sszutils/stream_test.go
Due: dynssz, dynsszgen

codegen: emit compilable code for more pointer and vector shapes
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

harden stream decoding and align the treeproof wrapper with the hasher
  hasher/hasher.go
  hasher/hasher_test.go
  sszutils/decoder_stream.go
  sszutils/stream_test.go
  treeproof/proof.go
  treeproof/proof_test.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: none

support ssz-type:"-" to exclude a struct field from SSZ
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/ssz-annotations.md
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

add WithNoDelegation to force reflection over generated methods
  codegen/tests/codegen_test.go
  codegen/tests/types.go
  dynssz.go
  dynssz_test.go
  options.go
  reflection/common.go
  reflection/common_internal_test.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/overflow_internal_test.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  reflection/views_test.go
  ssztypes/typecache.go
  tests/fuzz/cmd/fuzz/main.go
  tests/fuzz/engine/engine.go
Due: dynssz, dynsszgen

let custom types use fastssz or dynssz methods per operation
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  dynssz_test.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

enforce the ssz-max limit when hashing a progressive list
  reflection/treeroot.go
  reflection/treeroot_test.go
Due: none

collapse exact-length decode checks to one comparison on the hot path
  codegen/gen_unmarshal.go
Due: dynsszgen

collapse remaining exact-length decode checks to one hot-path comparison
  codegen/gen_unmarshal.go
Due: dynsszgen

docs: correct the bitvector/bitlist modeling guidance
  docs/ssz-annotations.md
  docs/supported-types.md
Due: none
