Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

Cache promoted-delegation detection on the TypeCache to keep it off the hot path
  dynssz.go
  ssztypes/compatibility.go
  ssztypes/typecache.go
Due: dynssz

codegen: dedup view types on the pointer-normalized form; restore AliasedVecPair doc
  codegen/codegen_test.go
  codegen/generate.go
  codegen/tests/types.go
Due: dynsszgen

reflection: pad short uint128/256 on hash tree root instead of rejecting
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
  reflection/treeroot.go
Due: dynssz, dynsszgen

Document that HashTreeRootWith leaves a caller-owned walker dirty on error
  dynssz.go
Due: dynssz

specvals: evaluate spec expressions as exact rationals, round up once
  specvals.go
  specvals_test.go
Due: dynssz

treeproof: make zero-padding gindices fetchable and provable
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

reflection: widen large-uint pad arithmetic to int64 (CodeQL)
  reflection/treeroot.go
Due: none

codegen: reuse vlen for the large-vector HTR slice cap
  codegen/codegen_test.go
  codegen/gen_hashtreeroot.go
Due: dynsszgen

sszutils: cover open regions, EOF collapse and hostile readers
  sszutils/decoder_region_test.go
  sszutils/decoder_stream.go
Due: none

reflection: decode regions of unknown extent
  dynssz.go
  options.go
  reflection/marshal.go
  reflection/unmarshal.go
  tests/fuzz/cmd/fuzz/main.go
  tests/fuzz/engine/engine.go
Due: dynssz

sszutils: add open-region support to the stream decoder
  sszutils/decoder.go
  sszutils/decoder_buffer.go
  sszutils/decoder_region.go
  sszutils/decoder_stream.go
  sszutils/error.go
Due: none

Decode unknown-length lists in place and measure the result
  docs/streaming.md
  reflection/unmarshal.go
  unknown_size_bench_test.go
Due: dynssz

Document unknown-size decoding and cover the reader/buffer matrix
  CHANGELOG.md
  docs/streaming.md
  dynssz.go
  sszutils/decoder_stream.go
  unknown_size_test.go
Due: dynssz

codegen: emit decoders that handle regions of unknown extent
  codegen/gen_decoder.go
  sszutils/decoder_codegen.go
  tests/fuzz/cmd/fuzz/main.go
  tests/spectests/init.go
  tests/spectests/spectests_test.go
Due: dynsszgen

Consolidate the unknown-size tests and close the coverage gaps
  dynssz_test.go
  reflection/overflow_internal_test.go
  reflection/unmarshal.go
  sszutils/decoder_codegen_test.go
  sszutils/decoder_region.go
  sszutils/decoder_region_test.go
  sszutils/decoder_stream.go
  unknown_size_bench_test.go
  unknown_size_test.go
Due: dynssz

examples: stream the unknown-size download path instead of buffering
  examples/streaming/README.md
  examples/streaming/main.go
  unknown_size_bench_test.go
Due: dynssz

spectests: fail on a misconfigured test data directory
  .github/workflows/ci-tests.yml
  tests/spectests/README.md
  tests/spectests/spectests_test.go
Due: none

Do not size allocations from an unverified region extent
  CHANGELOG.md
  codegen/gen_decoder.go
  dynssz_test.go
  reflection/unmarshal.go
  sszutils/decoder.go
  sszutils/decoder_buffer.go
  sszutils/decoder_codegen.go
  sszutils/decoder_codegen_test.go
  sszutils/decoder_region.go
  sszutils/decoder_region_test.go
  sszutils/decoder_stream.go
  sszutils/error.go
  sszutils/stream_test.go
  sszutils/unmarshal.go
  sszutils/utils_test.go
Due: dynssz, dynsszgen

Cover the size-pass-shadowed vector guard, unresolved eval-error, and drop dead nil check
  reflection/common_internal_test.go
  specvals_test.go
  ssztypes/compatibility.go
Due: dynssz

Cap the stream allowance to a value an int can hold on 32-bit
  sszutils/decoder_stream.go
Due: none

Keep the region bound check to a single comparison
  sszutils/decoder_stream.go
Due: none

Make FinishRegion a Decoder method and drop the unused FinishStream
  codegen/gen_decoder.go
  dynssz.go
  reflection/unmarshal.go
  sszutils/decoder.go
  sszutils/decoder_buffer.go
  sszutils/decoder_stream.go
  sszutils/stream_test.go
  sszutils/unmarshal.go
Due: dynssz, dynsszgen

Validate declared list extents, and never allocate from them
  codegen/gen_decoder.go
  dynssz_test.go
  reflection/unmarshal.go
  sszutils/decoder.go
  sszutils/decoder_buffer.go
  sszutils/decoder_stream.go
  sszutils/unmarshal.go
  tests/perftests/bench_test.go
Due: dynssz, dynsszgen

ci: fail when a hot helper stops inlining
  .github/scripts/check-inlining.sh
  .github/workflows/golangci-lint.yml
  sszutils/decoder_buffer.go
  sszutils/encoder_buffer.go
  sszutils/unmarshal.go
Due: none

sszutils: never trust a region the stream outran
  dynssz_test.go
  sszutils/decoder.go
  sszutils/decoder_stream.go
  sszutils/stream_test.go
Due: dynssz

sszutils: make the maximum stream size a hard bound
  sszutils/decoder_stream.go
  sszutils/stream_test.go
Due: none

reflection: keep an inapplicable ssz-max from swallowing a stream limit error
  dynssz_test.go
  reflection/unmarshal.go
Due: dynssz

codegen, reflection: drop unreachable array handling from list decoding
  codegen/gen_decoder.go
  reflection/unmarshal.go
Due: dynsszgen

fuzz: smash offsets and check mutated payloads on the unknown-size path
  tests/fuzz/engine/engine.go
Due: none

Drop the Unreleased changelog section
  CHANGELOG.md
Due: dynssz

Document UnmarshalSSZReader's size argument as trusted input
  dynssz.go
Due: dynssz

codegen: keep without-dynamic-expressions output free of *Dyn buffer calls
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  codegen/recursion.go
Due: dynsszgen

codegen/tests: enforce the no-*Dyn invariant for nested static codegen
  codegen/codegen_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_nodynnest.yaml
  codegen/tests/generate.go
  codegen/tests/types.go
Due: dynsszgen

codegen: fix two non-compiling outputs (streaming vector offset check, union size var)
  codegen/gen_decoder.go
  codegen/gen_size.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

codegen/tests: regression coverage for optional-list slice-vector and expr-sized codegen
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

codegen: resolve union fixed-variant size at runtime in buffer decoder
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
Due: dynsszgen

codegen,ssztypes: fix optional-list over a pointer-to-slice-vector
  codegen/gen_hashtreeroot.go
  codegen/parser.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

codegen: reject a view type identical to its data type
  codegen/codegen_test.go
  codegen/generate.go
Due: dynsszgen

ssztypes: keep array length when outer dynssz-size dimension is '?'
  multidim_dynsize_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
