Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

Close every unit-coverage gap outside the codegen emitters
  dynssz-gen/config_test.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz.go
  dynssz_test.go
  reflection/treeroot.go
  reflection/unmarshal_internal_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  ssztypes/union_test.go
  sszutils/marshal_test.go
  sszutils/stream_test.go
  sszutils/unmarshal_test.go
  treeproof/proof_test.go
Due: dynssz, dynsszgen

Add opt-in background subtree reduction to the hasher
  hasher/async.go
  hasher/async_test.go
  hasher/hasher.go
  hasher/hasher_test.go
Due: none

Bound async job state by the worker count, without per-job allocations
  hasher/async.go
  hasher/async_test.go
  hasher/hasher.go
Due: none

Make async hashing allocation-free and gate it per DynSsz instance
  dynssz.go
  dynssz_test.go
  hasher/async.go
  hasher/async_test.go
  hasher/common.go
  hasher/hasher.go
  options.go
Due: dynssz

Fix two async hashing scaling hazards found at alternate cap sizes
  hasher/async_test.go
  hasher/hasher.go
Due: none

Guard async subtree nodes against incompatible layer prefixes
  hasher/async.go
  hasher/async_test.go
  hasher/hasher.go
Due: none

Skip job drains for regions above every outstanding hole
  hasher/async.go
  hasher/hasher.go
Due: none

Batch legacy Index-driven scopes without Collapse hints
  hasher/async_test.go
  hasher/hasher.go
Due: none

Harden the async boundary at accessors, hole extents, and drain copies
  hasher/async.go
  hasher/async_test.go
  hasher/hasher.go
  hasher/hasher_test.go
Due: none

Reduce raw chunk runs in the background too
  hasher/async.go
  hasher/hasher.go
Due: none

Defer non-power-of-two containers by zero-padding to their subtree width
  hasher/async_test.go
  hasher/hasher.go
Due: none

bump internal version to `1.4.0-pre.1`
  .github/scripts/prepare-release.sh
  codegen/version.go
Due: dynsszgen

bump internal version to `1.4.0-pre.1` (#214)
  .github/scripts/prepare-release.sh
  codegen/version.go
Due: dynsszgen

improve test coverage
  hasher/async_test.go
Due: none

Add HTR caching example and flush deferred chunks in Hash()
  .github/workflows/examples.yml
  README.md
  dynssz.go
  examples/htr-caching/README.md
  examples/htr-caching/go.mod
  examples/htr-caching/go.sum
  examples/htr-caching/main.go
  hasher/hasher.go
  hasher/hasher_extended_test.go
  sszutils/interfaces.go
Due: dynssz

await overlapping async ranges in Hash()
  hasher/async_test.go
  hasher/hasher.go
Due: none

Allow SSZ-excluded fields alongside a wrapper's data field
  codegen/parser.go
  codegen/parser_test.go
  codegen/utils.go
  codegen/utils_test.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/sszsize.go
  reflection/sszsize_test.go
  reflection/treeroot.go
  reflection/treeroot_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  ssztypes/descriptor.go
  ssztypes/typecache.go
  ssztypes/typewrapper.go
  ssztypes/typewrapper_test.go
  typewrapper_test.go
Due: dynssz, dynsszgen

Expose per-method skip options in the dynssz-gen config
  docs/code-generator-config.md
  dynssz-gen/config.go
  dynssz-gen/config_test.go
  dynssz-gen/main.go
Due: dynsszgen

Generate SSZ code for the HTR caching example via dynssz-gen
  dynssz-gen/config.go
  examples/htr-caching/README.md
  examples/htr-caching/generate.go
  examples/htr-caching/generate.yaml
  examples/htr-caching/go.mod
  examples/htr-caching/go.sum
  examples/htr-caching/main.go
  examples/htr-caching/types_ssz.go
Due: dynsszgen

Harden integer conversions in generated SSZ code
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  sszutils/error.go
Due: dynsszgen

update htr-caching ssz code
  examples/htr-caching/types_ssz.go
Due: none

Match the reflection engine to the conversion-safety doctrine
  codegen/gen_decoder.go
  codegen/gen_size_test.go
  codegen/parser.go
  codegen/parser_test.go
  dynssz.go
  dynssz_test.go
  reflection/common.go
  reflection/marshal.go
  reflection/overflow_internal_test.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/descriptor.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Harden generated-code portability and 32-bit offset validation
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  dynssz.go
  reflection/unmarshal.go
  sszutils/unmarshal.go
Due: dynssz, dynsszgen

fix unnecessary int64 conversions of widened descriptor fields
  reflection/marshal.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: none

Emit size arithmetic in the uint64 domain
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
Due: dynsszgen

Read container offsets as uint32 and keep buffer lengths uint64
  codegen/gen_decoder.go
  codegen/gen_unmarshal.go
Due: dynsszgen

make the value-size overflow expectation platform-aware
  dynssz_test.go
Due: dynssz

align 32-bit test expectations with the branch behavior
  dynssz_test.go
  reflection/overflow_internal_test.go
Due: dynssz

size lists with the native length
  reflection/sszsize.go
Due: none

cover the offset overflow guards
  dynssz_test.go
  sszutils/error_test.go
Due: dynssz

exercise uncovered generator branches with fixture types
  codegen/tests/codegen_test.go
  codegen/tests/gen_atknest.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/gen_viewtypes4.yaml
  codegen/tests/types.go
Due: dynsszgen

accept the 32-bit verdicts in the offset overflow tests
  dynssz_test.go
Due: dynssz

Fix pre-existing residuals from the v1.3.2..HEAD review
  codegen/gen_common.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_atknest.yaml
  codegen/tests/types.go
  reflection/marshal.go
  reflection/unmarshal.go
  ssztypes/recursion.go
Due: dynsszgen

bump to `1.4.0-pre.2`
  codegen/version.go
Due: dynsszgen

Suppress promoted delegation per interface, not per method set
  dynssz.go
  dynssz_test.go
  ssztypes/compatibility.go
  ssztypes/typecache.go
Due: dynssz

fix: lock node hash cache to stop concurrent write race
  dynssz.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynssz

fix: lint - rename shadowed err in concurrency test
  treeproof/tree_test.go
Due: none

Batched tree finalization: level-order hashing via hashtree backend
  dynssz.go
  dynssz_test.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynssz

Parallel slab hashing for tree finalization
  hasher/async.go
  hasher/async_test.go
  options.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynssz

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
