Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codecov.yml:

coverage:
  status:
    project: off
    patch: off

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: package_dynssz
      name: dynssz
      paths:
        - "*"
    - component_id: command_dynsszgen
      name: dynsszgen
      paths:
        - "codegen/**"
        - "dynssz-gen/**"

fix vulnerabilities by bumping go versions on submodules & CI
  .github/workflows/benchmark.yml
  .github/workflows/ci-tests.yml
  .github/workflows/codeql.yml
  .github/workflows/examples.yml
  .github/workflows/fuzz.yml
  .github/workflows/golangci-lint.yml
  examples/basic/go.mod
  examples/basic/go.sum
  examples/codegen/go.mod
  examples/codegen/go.sum
  examples/custom-types/go.mod
  examples/custom-types/go.sum
  examples/progressive-merkleization/go.mod
  examples/progressive-merkleization/go.sum
  examples/versioned-blocks/go.mod
  examples/versioned-blocks/go.sum
  tests/perftests/go.mod
  tests/perftests/go.sum
  tests/spectests/go.mod
  tests/spectests/go.sum
Due: none

bump `pk910/hashtree-bindings`
  examples/basic/go.mod
  examples/basic/go.sum
  examples/codegen/go.mod
  examples/codegen/go.sum
  examples/custom-types/go.mod
  examples/custom-types/go.sum
  examples/progressive-merkleization/go.mod
  examples/progressive-merkleization/go.sum
  examples/versioned-blocks/go.mod
  examples/versioned-blocks/go.sum
  go.mod
  go.sum
  tests/perftests/go.mod
  tests/perftests/go.sum
  tests/spectests/go.mod
  tests/spectests/go.sum
Due: dynssz

add bulk byte copy shortcut to codegen
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  sszutils/marshal.go
  sszutils/unmarshal.go
Due: dynsszgen

implement deferred cross object batching in hasher
  hasher/hasher.go
  hasher/hasher_test.go
Due: none

fix linter issue
  codegen/gen_decoder.go
  codegen/gen_unmarshal.go
  codegen/parser.go
Due: dynsszgen

fix spectest issue
  reflection/treeroot.go
  reflection/treeroot_test.go
  tests/spectests/consensus-spec-tests/.gitignore
Due: none

improve test coverage
  hasher/hasher_test.go
Due: none

fix various failure inonsistencies found by AI scanning
  codegen/gen_hashtreeroot.go
  codegen/gen_hashtreeroot_test.go
  dynssz_test.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/typecache.go
  sszutils/encoder_stream.go
  sszutils/stream_test.go
  union_test.go
Due: dynssz, dynsszgen

fix various inconsistencies & preserve big.Int sign
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  dynssz_test.go
  reflection/common_test.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  specvals.go
  union_test.go
Due: dynssz, dynsszgen

more fixes for inconsitentencies
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz.go
  dynssz_test.go
  reflection/treeroot.go
  specvals.go
  ssztypes/typecache.go
  sszutils/treeroot.go
  sszutils/utils_test.go
Due: dynssz, dynsszgen

linter fixes
  codegen/tests/codegen_test.go
Due: dynsszgen

improve test coverage
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/viewfix/sub/sub.go
  dynssz-gen/testpkg/viewfix/viewfix.go
  dynssz_test.go
  sszutils/stream_test.go
  sszutils/utils_test.go
Due: dynssz, dynsszgen

fix unmarshaling empty lists to an empty slice
  reflection/marshal_test.go
  reflection/unmarshal.go
  sszutils/unmarshal.go
Due: none

Potential fix for pull request finding
  sszutils/unmarshal.go
Due: none

improve test coverage
  reflection/marshal_test.go
Due: none

core interfaces nil guards
  dynssz.go
  dynssz_test.go
  options.go
Due: dynssz

fix fuzzer findings in treeproof
  hasher/common.go
  hasher/hasher_test.go
  treeproof/proof.go
  treeproof/proof_test.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

fix fuzzer findings in hasher
  dynssz_test.go
  hasher/common.go
  hasher/hasher.go
  hasher/hasher_test.go
  reflection/treeroot.go
  sszutils/treeroot.go
  sszutils/utils_test.go
  treeproof/wrapper.go
Due: dynssz

fix fuzzer findings in sszutils
  sszutils/annotate.go
  sszutils/annotate_test.go
  sszutils/decoder_buffer.go
  sszutils/encoder_buffer.go
  sszutils/error.go
  sszutils/error_test.go
  sszutils/unmarshal.go
  sszutils/utils_test.go
  sszutils/zerobytes.go
Due: none

fix fuzzer findings in reflection
  dynssz_test.go
  reflection/common.go
  reflection/common_internal_test.go
  reflection/marshal.go
  reflection/unmarshal.go
  specvals.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz

fix fuzzer findings in reflection & codegen
  codegen/codegen.go
  codegen/codegen_test.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_marshal_test.go
  codegen/gen_unmarshal.go
  dynssz_test.go
  reflection/common_test.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/treeroot.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
Due: dynssz, dynsszgen

fix test
  codegen/tests/codegen_test.go
  dynssz_test.go
  reflection/unmarshal.go
  treeproof/wrapper.go
  treeproof/wrapper_overflow_test.go
Due: dynssz, dynsszgen

fix codeql issues
  .github/workflows/benchmark.yml
  ssztypes/ssztags.go
  ssztypes/typecache.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

fix copilot suggestions
  reflection/marshal.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: none

improve test coverage
  ssztypes/typecache_test.go
Due: none

throw consitent error for 0-sizte vectors and containers without fields
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_annotated.yaml
  codegen/tests/types.go
  dynssz_test.go
  reflection/sszsize_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  sszutils/specvalue.go
  sszutils/utils_test.go
Due: dynssz, dynsszgen

codegen padding fix
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  sszutils/decoder_stream.go
  sszutils/error.go
  sszutils/stream_test.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynsszgen

fix fuzzer & linter issues
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  tests/fuzz/engine/engine.go
Due: dynsszgen

add trailing data check for optionals & extend tests
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_extended.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

intercept type descriptor traversal for fully delegated types (reflection)
  codegen/gen_encoder.go
  codegen/generate.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  sszutils/annotate.go
  sszutils/annotate_test.go
Due: dynsszgen

intercept type descriptor traversal for fully delegated types (codegen)
  codegen/codegen.go
  codegen/gen_common.go
  codegen/generate.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz-gen/main.go
Due: dynsszgen

fix trailing data issue in dynamic length lists
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

update benchmark workflow
  .github/scripts/run-benchmarks.sh
  .github/workflows/benchmark-comment.yml
  .github/workflows/benchmark.yml
  tests/perftests/bench_test.go
  treeproof/tree_test.go
Due: none

remove dead checks & improve test coverage
  codegen/gen_common.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  sszutils/annotate.go
  sszutils/annotate_test.go
Due: dynsszgen

fix htr mismatch for progressive bitlists
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  hasher/common.go
  hasher/hasher.go
  hasher/progressive_bitlist_test.go
  reflection/treeroot.go
  treeproof/wrapper.go
Due: dynsszgen

fix: streaming reflection unmarshal panics on malformed nested list
  reflection/unmarshal.go
  reflection/unmarshal_test.go
Due: none

apply copilot suggestion
  reflection/unmarshal.go
  reflection/unmarshal_test.go
Due: none
