Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codecov.yml:

coverage:
  status:
    project: off
    patch: off

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: package_dynssz
      name: dynssz
      paths:
        - "*"
    - component_id: command_dynsszgen
      name: dynsszgen
      paths:
        - "codegen/**"
        - "dynssz-gen/**"

improve test coverage
  dynssz_test.go
  ssztypes/typecache_test.go
Due: dynssz

release `1.2.2`
  codegen/version.go
  examples/basic/go.mod
  examples/codegen/go.mod
  examples/custom-types/go.mod
  examples/progressive-merkleization/go.mod
  examples/versioned-blocks/go.mod
  spectests/go.mod
  test/go.mod
Due: dynsszgen

add missing function header comments
  hasher/hasher.go
  options.go
  reflection/common.go
  ssztypes/descriptor.go
  ssztypes/ssztags.go
  sszutils/decoder.go
  sszutils/decoder_buffer.go
  sszutils/decoder_stream.go
  sszutils/encoder.go
  sszutils/encoder_buffer.go
  sszutils/encoder_stream.go
  sszutils/interfaces.go
  sszutils/offsetpool.go
  sszutils/specvalue.go
  sszutils/treeroot.go
  sszutils/zerobytes.go
Due: dynssz

retract dynssz-gen submodule
  dynssz-gen/go.mod
Due: dynsszgen

beautify `dynssz-gen` help output
  .github/workflows/post-release.yml
  .gitignore
  Dockerfile
  Makefile
  codegen/version.go
  dynssz-gen/main.go
Due: dynssz, dynsszgen

add `dynssz-gen` tests
  dynssz-gen/main_test.go
  dynssz_test.go
  ssztypes/typecache_test.go
  treeproof/tree_test.go
Due: dynssz, dynsszgen

update help text
  dynssz-gen/main.go
Due: dynsszgen

add internal buffer for marshal to stream
  docs/streaming.md
  dynssz.go
  options.go
  reflection/marshal_test.go
  sszutils/decoder_stream.go
  sszutils/encoder_stream.go
  sszutils/stream_test.go
Due: dynssz

extend tests for internal stream buffer
  dynssz_test.go
  sszutils/stream_test.go
Due: dynssz

add golangci-lint check & fix linter issues
  .github/workflows/golangci-lint.yml
  .golangci.yml
  codegen/gen_hashtreeroot.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  dynssz-gen/main.go
  dynssz_test.go
  fuzz/cmd/fuzz/main.go
  fuzz/cmd/generate/main.go
  fuzz/engine/filler.go
  fuzz/engine/reporter.go
  fuzz/engine/reproduce_test.go
  hasher/hasher.go
  hasher/hasher_test.go
  reflection/sszsize_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  treeproof/tree_test.go
Due: dynssz, dynsszgen

fix linter workflow
  .github/workflows/golangci-lint.yml
  codegen/tests/codegen_test.go
Due: dynsszgen

fix remaining linter issues
  .golangci.yml
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/typename.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/typecache.go
Due: dynssz, dynsszgen

use bulk allocations & avoid descriptor copies
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: none

skip compat checks early for primitive types
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: none

add fast path for static container marshal/unmarshal
  reflection/marshal.go
  reflection/unmarshal.go
Due: none

hoisted pointer checks
  reflection/marshal.go
  reflection/unmarshal.go
Due: none

fix reflection test coverage
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/treeroot.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
Due: none

refactor: remove zero-hash
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

fix lint
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

codegen performance improvements
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  sszutils/marshal.go
  sszutils/treeroot.go
  sszutils/unmarshal.go
Due: dynsszgen

fix linter issues
  codegen/gen_encoder.go
  codegen/gen_marshal.go
Due: dynsszgen

improve test coverage for performance improvements
  sszutils/stream_test.go
  sszutils/utils_test.go
Due: none

fix unused variable
  codegen/gen_hashtreeroot.go
Due: dynsszgen

setup code scanning & dependency updates
  .github/dependabot.yml
  .github/workflows/ci-tests.yml
  .github/workflows/codeql.yml
  .github/workflows/examples.yml
  .github/workflows/fuzz.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/post-release.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  README.md
Due: dynssz

change go versions in workflows
  .github/workflows/ci-tests.yml
  .github/workflows/examples.yml
Due: none

bump go version to fix govulncheck issue
  examples/basic/go.mod
  examples/codegen/go.mod
  examples/custom-types/go.mod
  examples/progressive-merkleization/go.mod
  examples/versioned-blocks/go.mod
  go.mod
  spectests/go.mod
  test/go.mod
Due: dynssz

set fixed go version in workflows
  .github/workflows/ci-tests.yml
  .github/workflows/codeql.yml
  .github/workflows/examples.yml
  .github/workflows/fuzz.yml
  .github/workflows/golangci-lint.yml
Due: none

apply OpenSSF suggestions
  .github/dependabot.yml
  .github/workflows/post-release.yml
  .github/workflows/release.yml
  SECURITY.md
  fuzz_test.go
Due: dynssz

`go mod tidy`
  examples/basic/go.mod
  examples/basic/go.sum
  examples/codegen/go.mod
  examples/codegen/go.sum
  examples/custom-types/go.mod
  examples/custom-types/go.sum
  examples/progressive-merkleization/go.mod
  examples/progressive-merkleization/go.sum
  examples/versioned-blocks/go.mod
  examples/versioned-blocks/go.sum
  spectests/go.mod
  spectests/go.sum
Due: none

bundle all dependency updates
  .github/dependabot.yml
Due: none

fix dependabot alerts
  .github/workflows/ci-tests.yml
  .github/workflows/codeql.yml
  Dockerfile
  examples/versioned-blocks/go.mod
  examples/versioned-blocks/go.sum
  spectests/go.mod
  spectests/go.sum
  test/go.mod
  test/go.sum
Due: dynssz

fix codeql overflow conversion issues
  reflection/common.go
  reflection/marshal.go
  reflection/overflow_internal_test.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  treeproof/wrapper.go
  treeproof/wrapper_overflow_test.go
Due: none

fix codeql issues
  dynssz.go
  reflection/common.go
  reflection/marshal.go
  reflection/overflow_internal_test.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/ssztags.go
Due: dynssz

add size overflow test
  dynssz_test.go
Due: dynssz

fix integer conversion issues
  reflection/common.go
  reflection/marshal.go
  reflection/overflow_internal_test.go
  reflection/treeroot.go
  reflection/unmarshal.go
  spectests/consensus-spec-tests/go.mod
  treeproof/wrapper.go
Due: none

ensure 32bit compatibility
  .github/workflows/ci-tests.yml
  hasher/hasher.go
  sszutils/treeroot.go
  sszutils/utils_test.go
Due: none

ensure 32bit compatibility
  .github/workflows/ci-tests.yml
  dynssz.go
  dynssz_test.go
Due: dynssz

fix overflow test coverage
  treeproof/wrapper.go
  treeproof/wrapper_overflow_test.go
Due: none
