Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codecov.yml:

coverage:
  status:
    project: off
    patch: off

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: package_dynssz
      name: dynssz
      paths:
        - "*"
    - component_id: command_dynsszgen
      name: dynsszgen
      paths:
        - "codegen/**"
        - "dynssz-gen/**"

Group the generated test files by what they exercise
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  ssztypes/typecache.go
Due: dynsszgen

Accept a dimension both tag families leave to the type
  multidim_dynsize_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  ssztypes/typewrapper.go
  ssztypes/union.go
Due: dynssz

Report an annotation expression that cannot be evaluated
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: none

Classify a dimension by its tag, not by the specs at hand
  codegen/codegen_test.go
  codegen/generate.go
  multidim_dynsize_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Correct the annotation docs for the placeholder and tag rules
  docs/code-generator.md
  docs/ssz-annotations.md
Due: none

Pin that a vector slice may be shorter than its vector
  codegen/tests/codegen_test.go
  docs/ssz-annotations.md
Due: dynsszgen

Count nesting depth by cycle membership in both engines
  codegen/codegen.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser_test.go
  codegen/recursion.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/supported-types.md
  options.go
  reflection/common.go
  reflection/common_internal_test.go
  reflection/marshal.go
  reflection/overflow_internal_test.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  ssztypes/descriptor.go
  ssztypes/recursion.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Clamp the nesting bound in uint64 for 32-bit builds
  reflection/common.go
Due: none

Accept a limit equal to a dimension's fixed length
  codegen/parser.go
  codegen/parser_test.go
  docs/ssz-annotations.md
  dynssz_test.go
  ssztypes/typecache.go
Due: dynssz, dynsszgen

Delegate cycle sizes in streaming closures, bound emission depth
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_static_nodyn_test.go
  codegen/gen_unmarshal.go
  codegen/recursion.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_nodynnest.yaml
  codegen/tests/types.go
Due: dynsszgen

Fold the static-generation tests into codegen_test.go
  codegen/codegen_test.go
  codegen/gen_static_nodyn_test.go
Due: dynsszgen

Classify an annotated expression dimension as a vector
  dynssz_test.go
  fuzz-reports/fuzz.log
  ssztypes/ssztags.go
  ssztypes/typecache_test.go
Due: dynssz

Ignore stray fuzz report logs at the repo root
  .gitignore
  fuzz-reports/fuzz.log
Due: dynssz

Keep bin/ ignored, fuzz-reports/ on its own line
  .gitignore
Due: dynssz

Resolve an optional's element to the pointer descriptor
  codegen/tests/codegen_test.go
  codegen/tests/gen_extended.yaml
  codegen/tests/types.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Pin the single-variant compatible union at selector 1
  ssztypes/union_test.go
Due: none

Keep an optional's element pointer-resolved, align the depth check instead
  codegen/recursion.go
  codegen/tests/codegen_test.go
  codegen/tests/types.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Fold the dynsize vector tests into codegen_test.go
  codegen/tests/codegen_test.go
  codegen/tests/dynsize_vector_test.go
Due: dynsszgen

Never charge the walk's outermost value against the nesting bound
  codegen/recursion.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/supported-types.md
  options.go
  reflection/common.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: dynssz, dynsszgen

Delegate through the same method set from every entrypoint
  dynssz.go
  dynssz_test.go
Due: dynssz

Guard decode entrypoints against nil targets, keep CLI paths filesystem-shaped
  dynssz-gen/config.go
  dynssz-gen/config_test.go
  dynssz.go
  dynssz_test.go
Due: dynssz, dynsszgen

Name failing fields and carry typed sentinels on every error path
  dynssz.go
  dynssz_test.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/treeroot_test.go
  reflection/unmarshal.go
  specvals.go
  sszutils/error.go
  sszutils/error_test.go
  sszutils/utils_test.go
Due: dynssz

Hold both decoder and encoder implementations to one misuse contract
  sszutils/decoder_buffer.go
  sszutils/decoder_stream.go
  sszutils/encoder_stream.go
  sszutils/utils_test.go
Due: none

Make the generator CLI and options fail early and atomically
  codegen/codegen.go
  codegen/codegen_test.go
  codegen/generate.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
Due: dynsszgen

Validate what was silently tolerated: unions, wrapper tags, limits, pointers
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/types.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz_test.go
  reflection/unmarshal_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  sszutils/error_test.go
  sszutils/utils_test.go
  union.go
  union_test.go
Due: dynssz, dynsszgen

Resolve spec values by what they mean, not by how they arrive
  specvals.go
  specvals_test.go
Due: dynssz

Correct the documentation to what the library does
  docs/api-reference.md
  docs/code-generator-config.md
  docs/code-generator.md
  docs/ssz-annotations.md
  docs/streaming.md
  docs/supported-types.md
  docs/troubleshooting.md
  docs/views.md
  dynssz.go
  examples/progressive-merkleization/README.md
  examples/progressive-merkleization/main.go
  global.go
  options.go
Due: dynssz

Check the renamed setter's error and split two overgrown functions
  codegen/codegen_test.go
  codegen/generate.go
  dynssz-gen/main.go
Due: dynsszgen

Pin the zero limit as the explicit unbounded-list spelling
  docs/ssz-annotations.md
  dynssz_test.go
Due: dynssz

Unshadow the error in the unbounded-list test
  dynssz_test.go
Due: dynssz

State the compatible-union expectation, widen the parser per type
  codegen/codegen_test.go
  codegen/generate.go
  docs/supported-types.md
  union.go
Due: dynssz, dynsszgen

Answer union selectors from one authority, normalize pointer data
  ssztypes/union.go
  ssztypes/union_test.go
  union.go
  union_test.go
Due: dynssz

State the stability contract on the codec interfaces
  sszutils/decoder.go
  sszutils/encoder.go
Due: none

Reject nil data and duplicate selectors instead of dereferencing them
  specvals.go
  specvals_test.go
  ssztypes/union.go
  ssztypes/union_test.go
  union.go
  union_test.go
Due: dynssz

Reject dynssz.None in compatible union descriptors
  ssztypes/union.go
  union_test.go
Due: dynssz

Name the actual problem in generator misuse errors
  codegen/codegen.go
  codegen/codegen_test.go
  codegen/generate.go
  dynssz-gen/config.go
  dynssz-gen/config_test.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Resolve fractional spec values by their value, not their carrier type
  specvals.go
  specvals_test.go
Due: dynssz

Validate unions in the operations, not the constructors
  union.go
  union_test.go
Due: dynssz

Record the same descriptor values in both front-ends
  codegen/codegen.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/types.go
  ssztypes/descriptor.go
  ssztypes/typecache.go
Due: dynsszgen

Document when generated types carry the static fastssz method set
  docs/code-generator.md
Due: none
