Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

types: build views from paired runtime and schema types, view named byte slices
  codegen/codegen_test.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/supported-types.md
  dynssz_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  ssztypes/compatibility.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  sszutils/marshal.go
Due: dynssz, dynsszgen

codegen: require a bridged decoder-only child to consume its whole region
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
Due: dynsszgen

codegen: delegate HashTreeRootWith only to a hasher-interface parameter
  codegen/gen_hashtreeroot.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

ssztypes: read the fastssz ssz tag in the annotation and generator tag reader
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/ssz-annotations.md
  ssztypes/ssztags.go
  ssztypes/typecache_test.go
Due: dynsszgen

codegen, dynssz-gen: look through aliases, refuse alias targets
  codegen/codegen.go
  codegen/codegen_test.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/aliased.go
Due: dynsszgen

ssztypes: drop surplus tag dimensions instead of rejecting them
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/ssz-annotations.md
  dynssz_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

reflection, codegen: check padding bits of bit-sized bitvectors stored element-wise
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  reflection/common.go
  reflection/marshal.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: dynsszgen

reflection, codegen: frame fixed-size buffer delegates by the dynamic flag
  codegen/gen_decoder.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_viewtypes4.yaml
  codegen/tests/types.go
  dynssz_test.go
  reflection/unmarshal.go
Due: dynssz, dynsszgen

docs: describe what stale generated decoders do on unknown-size streams
  docs/streaming.md
Due: none

docs: correct the delegate interface names, the descriptor inspection API and the Bitvector4 example
  docs/api-reference.md
  docs/supported-types.md
  docs/troubleshooting.md
  ssztypes/typecache.go
Due: none

codegen: derive the last element and pointer form inside the padding-check emitter
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
Due: dynsszgen

spectests: move to the ethpandaops go-eth2-client fork and run the suite as a 32-bit build
  .github/workflows/ci-tests.yml
  tests/spectests/README.md
  tests/spectests/go.mod
  tests/spectests/go.sum
  tests/spectests/spectests_altair_test.go
  tests/spectests/spectests_bellatrix_test.go
  tests/spectests/spectests_capella_test.go
  tests/spectests/spectests_deneb_test.go
  tests/spectests/spectests_electra_test.go
  tests/spectests/spectests_fulu_test.go
  tests/spectests/spectests_phase0_test.go
Due: none

spectests: move to the ethpandaops go-eth2-client fork and run the suite as a 32-bit build (#228)
  .github/workflows/ci-tests.yml
  tests/spectests/README.md
  tests/spectests/go.mod
  tests/spectests/go.sum
  tests/spectests/spectests_altair_test.go
  tests/spectests/spectests_bellatrix_test.go
  tests/spectests/spectests_capella_test.go
  tests/spectests/spectests_deneb_test.go
  tests/spectests/spectests_electra_test.go
  tests/spectests/spectests_fulu_test.go
  tests/spectests/spectests_phase0_test.go
Due: none

hashing: call element delegates inside packed walker scopes
  codegen/gen_hashtreeroot.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/api-reference.md
  docs/code-generator.md
  docs/supported-types.md
  dynssz_test.go
  hasher/hasher.go
  hasher/hasher_test.go
  reflection/treeroot.go
  sszutils/error.go
  sszutils/interfaces.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynssz, dynsszgen

ci: render unit and spec test output with a multiplexing log formatter
  .github/tools/testfmt/event.go
  .github/tools/testfmt/go.mod
  .github/tools/testfmt/main.go
  .github/tools/testfmt/main_test.go
  .github/tools/testfmt/output.go
  .github/tools/testfmt/run.go
  .github/tools/testfmt/summary.go
  .github/tools/testfmt/testdata/buildfail-github.golden
  .github/tools/testfmt/testdata/buildfail-go122-github.golden
  .github/tools/testfmt/testdata/buildfail-go122.json
  .github/tools/testfmt/testdata/buildfail.json
  .github/tools/testfmt/testdata/mixed-github.golden
  .github/tools/testfmt/testdata/mixed-local.golden
  .github/tools/testfmt/testdata/mixed-pertest.golden
  .github/tools/testfmt/testdata/mixed.json
  .github/tools/testfmt/testdata/pass-github.golden
  .github/tools/testfmt/testdata/pass.json
  .github/tools/testfmt/testdata/summary.golden
  .github/workflows/ci-tests.yml
  tests/spectests/run_tests.sh
Due: none

ci: drop the module cache steps that duplicate setup-go's own cache
  .github/workflows/benchmark.yml
  .github/workflows/ci-tests.yml
  .github/workflows/examples.yml
  .github/workflows/fuzz.yml
Due: none

testfmt: print the collapsed groups after all variants finished
  .github/tools/testfmt/main.go
  .github/tools/testfmt/main_test.go
  .github/tools/testfmt/run.go
  .github/tools/testfmt/testdata/buildfail-github.golden
  .github/tools/testfmt/testdata/buildfail-go122-github.golden
  .github/tools/testfmt/testdata/mixed-github.golden
  .github/tools/testfmt/testdata/mixed-pertest.golden
  .github/tools/testfmt/testdata/pass-github.golden
  .github/workflows/ci-tests.yml
Due: none

testfmt: refresh the per-test golden for the details header
  .github/tools/testfmt/testdata/mixed-pertest.golden
Due: none

testfmt: lead package lines with a global progress bar
  .github/tools/testfmt/main.go
  .github/tools/testfmt/main_test.go
  .github/tools/testfmt/output.go
  .github/tools/testfmt/run.go
  .github/tools/testfmt/testdata/buildfail-github.golden
  .github/tools/testfmt/testdata/buildfail-go122-github.golden
  .github/tools/testfmt/testdata/mixed-github.golden
  .github/tools/testfmt/testdata/mixed-local.golden
  .github/tools/testfmt/testdata/mixed-pertest.golden
  .github/tools/testfmt/testdata/pass-github.golden
Due: none

testfmt: keep the progress bar out of the detail group titles
  .github/tools/testfmt/run.go
  .github/tools/testfmt/testdata/buildfail-github.golden
  .github/tools/testfmt/testdata/buildfail-go122-github.golden
  .github/tools/testfmt/testdata/mixed-github.golden
  .github/tools/testfmt/testdata/mixed-pertest.golden
  .github/tools/testfmt/testdata/pass-github.golden
Due: none

testfmt: drop the recorded fixtures and their golden tests
  .github/tools/testfmt/main_test.go
  .github/tools/testfmt/testdata/buildfail-github.golden
  .github/tools/testfmt/testdata/buildfail-go122-github.golden
  .github/tools/testfmt/testdata/buildfail-go122.json
  .github/tools/testfmt/testdata/buildfail.json
  .github/tools/testfmt/testdata/mixed-github.golden
  .github/tools/testfmt/testdata/mixed-local.golden
  .github/tools/testfmt/testdata/mixed-pertest.golden
  .github/tools/testfmt/testdata/mixed.json
  .github/tools/testfmt/testdata/pass-github.golden
  .github/tools/testfmt/testdata/pass.json
  .github/tools/testfmt/testdata/summary.golden
Due: none

ci: render unit and spec test output with a multiplexing log formatter (#230)
  .github/tools/testfmt/event.go
  .github/tools/testfmt/go.mod
  .github/tools/testfmt/main.go
  .github/tools/testfmt/main_test.go
  .github/tools/testfmt/output.go
  .github/tools/testfmt/run.go
  .github/tools/testfmt/summary.go
  .github/workflows/benchmark.yml
  .github/workflows/ci-tests.yml
  .github/workflows/examples.yml
  .github/workflows/fuzz.yml
  tests/spectests/run_tests.sh
Due: none

docs, ci: scope the compatibility guarantee and pin the release Go version
  .github/workflows/post-release.yml
  SECURITY.md
Due: dynssz

codegen, reflection: bound declared vector sizes and emit large declarations portably
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_mixed.yaml
  codegen/tests/types.go
  reflection/overflow_internal_test.go
  reflection/unmarshal.go
  treeproof/tree.go
Due: dynsszgen

docs, hasher, treeproof: state the one-leaf contract for composite hash methods
  docs/supported-types.md
  hasher/hasher.go
  treeproof/tree.go
Due: none

docs: state the current decoding, proof and big integer behaviour
  docs/api-reference.md
  docs/extended-types.md
  docs/merkle-proofs.md
  docs/ssz-annotations.md
  dynssz.go
  ssztypes/typecache.go
Due: dynssz

codegen: spell named universe types by name in walker signatures
  codegen/parser.go
  codegen/parser_test.go
Due: dynsszgen

ssztypes: mark recursion members from strongly connected components
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
  ssztypes/recursion.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

codegen: name depth twins per method and per view target
  codegen/codegen_test.go
  codegen/generate.go
  codegen/recursion.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_extended.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/code-generator.md
Due: dynsszgen

ssztypes, codegen: refuse an optional-list whose element has no size
  codegen/gen_decoder.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_extended.yaml
  codegen/tests/types.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

hasher, reflection, codegen: count bitlist bits in uint64
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
  hasher/common.go
  hasher/hasher_extended_test.go
  reflection/marshal.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: dynssz, dynsszgen

codegen, ssztypes: fall back to the array length for an undefined bit size
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/ssz-annotations.md
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

codegen: walk uint64 list elements that carry hash methods
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

codegen: analyze each type on generator-owned caches, one per mode
  codegen/codegen.go
  codegen/codegen_test.go
  codegen/generate.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_mixed.yaml
  codegen/tests/generate.go
  codegen/tests/types.go
  docs/api-reference.md
  docs/code-generator.md
  dynssz-gen/main.go
Due: dynsszgen

codegen: reach a custom type through its static methods under static generation
  codegen/codegen_test.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_nodynexpr.yaml
  codegen/tests/types.go
Due: dynsszgen

tests: cap the spec width of the custom fixture before converting it
  codegen/tests/types.go
Due: dynsszgen

codegen: streaming decoders prefer a custom type's spec-aware methods
  codegen/gen_decoder.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

treeproof: give a decompressed proof its own zero hashes
  treeproof/proof_test.go
  treeproof/tree.go
Due: none

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
