Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

parallelize unit tests in ci
  .github/workflows/ci-tests.yml
Due: none

fix benchmark workflow
  .github/workflows/benchmark.yml
  .github/workflows/ci-tests.yml
Due: none

fix prepare release script for view format
  .github/scripts/prepare-release.sh
Due: none

release `1.3.0`
  codegen/compat-tests/codegen_v1.3.0.tar.gz
  codegen/version.go
  examples/basic/go.mod
  examples/codegen/go.mod
  examples/custom-types/go.mod
  examples/progressive-merkleization/go.mod
  examples/versioned-blocks/go.mod
  tests/perftests/go.mod
  tests/spectests/go.mod
Due: dynsszgen

update CHANGELOG.md for v1.3.0
  CHANGELOG.md
Due: dynssz

add support for arbitrary wrapper struct types as type-wrapper
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_hashtreeroot_test.go
  codegen/gen_marshal.go
  codegen/gen_marshal_test.go
  codegen/gen_size.go
  codegen/gen_size_test.go
  codegen/gen_unmarshal.go
  codegen/gen_unmarshal_test.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/types.go
  codegen/utils.go
  reflection/common_test.go
  reflection/marshal_test.go
  reflection/sszsize_test.go
  reflection/treeroot_test.go
  reflection/unmarshal_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

optimize type descriptor hashing in ssztypes type cache
  ssztypes/typecache.go
Due: none

optimize offset slice reuse in sszutils offset pool
  sszutils/offsetpool.go
Due: none

fix lint
  ssztypes/typecache.go
Due: none

perf(treeproof): optimize multiproof verification and proof index handling
  treeproof/proof.go
  treeproof/proof_test.go
  treeproof/tree.go
Due: none

fix lint
  treeproof/proof.go
Due: none

add .vscode to gitignore
  .gitignore
  .vscode/launch.json
Due: dynssz

improve benchmark workflow
  .github/workflows/benchmark.yml
Due: none

optimize treeproof proof generation fast paths
  treeproof/tree.go
Due: none

add treeproof proof generation benchmarks and coverage
  treeproof/tree_test.go
Due: none

refine treeproof fast-path comments
  treeproof/tree.go
Due: none

fix lint
  treeproof/tree.go
Due: none

fix(ci): sync benchmark tests into base run
  .github/workflows/benchmark.yml
Due: none

perf(ci): avoid unnecessary benchmark harness sync
  .github/workflows/benchmark.yml
Due: none

fix(ci): improve benchmark comment rendering
  .github/workflows/benchmark-comment.yml
Due: none

prevent excessive buffer allocation in stream marshal/unmarshal
  docs/streaming.md
  dynssz.go
  options.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/overflow_internal_test.go
  reflection/unmarshal.go
  sszutils/decoder.go
  sszutils/decoder_buffer.go
  sszutils/decoder_stream.go
  sszutils/encoder.go
  sszutils/encoder_buffer.go
  sszutils/encoder_stream.go
  sszutils/stream_test.go
Due: dynssz

improve test coverage
  codegen/codegen_test.go
  codegen/gen_decoder_test.go
  codegen/gen_size_test.go
  codegen/gen_unmarshal_test.go
  codegen/parser_test.go
  codegen/utils_test.go
  ssztypes/typecache_test.go
Due: dynsszgen

Apply suggestions from code review
  codegen/parser.go
  codegen/utils.go
Due: dynsszgen

add suport for separate config file in dynssz-gen
  codegen/tests/gen_annotated.yaml
  codegen/tests/gen_extended.yaml
  codegen/tests/gen_nodynexpr.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/gen_viewtypes4.yaml
  codegen/tests/generate.go
  docs/README.md
  docs/code-generator-config.md
  docs/code-generator.md
  dynssz-gen/config.go
  dynssz-gen/config_test.go
  dynssz-gen/main.go
  go.mod
  go.sum
Due: dynssz, dynsszgen

fix linter issues & improve test coverage
  dynssz-gen/config_test.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/aliased.go
  dynssz-gen/testpkg/testpkg.go
Due: dynsszgen

improve test coverage of dynssz-gen cli
  dynssz-gen/main_test.go
Due: dynsszgen

fix package resulution with config path
  docs/code-generator-config.md
  dynssz-gen/config.go
  dynssz-gen/config_test.go
  dynssz-gen/main_test.go
Due: dynsszgen

exclude testpkg from coverage report
  codecov.yml
Due: dynssz

fix perftests go.mod
  tests/perftests/go.mod
  tests/perftests/go.sum
Due: none

fix(ci): drop benchmark-comment section when no significant rows
  .github/workflows/benchmark-comment.yml
Due: none

fix(ci): prevent benchmark noise from failed base codegen
  .github/workflows/benchmark.yml
Due: none

release `1.3.1`
  codegen/compat-tests/codegen_v1.3.1.tar.gz
  codegen/version.go
  examples/basic/go.mod
  examples/codegen/go.mod
  examples/custom-types/go.mod
  examples/progressive-merkleization/go.mod
  examples/versioned-blocks/go.mod
  tests/perftests/go.mod
  tests/perftests/go.sum
  tests/spectests/go.mod
Due: dynsszgen

update CHANGELOG.md for v1.3.1
  CHANGELOG.md
Due: dynssz

dynssz-gen: share types across main + view-type package loads
  dynssz-gen/main.go
Due: dynsszgen

implement optionals as `List[T,1]` (reflection code paths)
  reflection/common_test.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
Due: none

implement optionals as `List[T,1]` (codegen code paths)
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  ssztypes/typecache.go
Due: dynsszgen

update docs & fix linter issue
  docs/extended-types.md
  docs/ssz-annotations.md
  docs/supported-types.md
  reflection/sszsize.go
Due: none

improve test coverage
  reflection/marshal_test.go
  reflection/treeroot_test.go
  ssztypes/typecache_test.go
Due: none

fix copilot issues
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/sszsize.go
  reflection/sszsize_test.go
  reflection/treeroot_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

improve test coverage
  reflection/marshal_test.go
  reflection/unmarshal_test.go
Due: none

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
