Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

fix Dockerfile
  .dockerignore
  Dockerfile
Due: dynssz

improve codegen code coverage
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/generate.go
  codegen/tests/types.go
  codegen/typename.go
  typecache.go
Due: dynssz, dynsszgen

add unit tests for `CompatibleUnion` & `TypeWrapper`
  union_test.go
  wrapper_test.go
Due: dynssz

add unit tests for `treeproof` package
  hasher/hasher.go
  treeproof/proof_test.go
  treeproof/tree.go
  treeproof/tree_test.go
  treeproof/wrapper_test.go
Due: none

add hasher unit tests
  hasher/hasher_test.go
Due: none

improve treeproof test coverage
  treeproof/proof_test.go
  treeproof/tree_test.go
  treeproof/wrapper_test.go
Due: none

improve codegen type check test coverage
  codegen/parser_test.go
Due: dynsszgen

add codegen type printer unit tests
  codegen/typename_test.go
Due: dynsszgen

add more codegen unit tests
  codegen/codegen_test.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
Due: dynsszgen

small fix for hasher test
  hasher/hasher_test.go
Due: none

add unit tests for `TypeCache` error cases
  typecache_test.go
Due: dynssz

remove inconsistent hasher pool test
  hasher/hasher_test.go
  typecache.go
  typecache_test.go
Due: dynssz

fix `prepare-release.sh`
  .github/scripts/prepare-release.sh
Due: none

fix version header in generated files
  codegen/generate.go
Due: dynsszgen

release `1.1.1`
  codegen/version.go
  examples/basic/go.mod
  examples/codegen/go.mod
  examples/custom-types/go.mod
  examples/progressive-merkleization/go.mod
  examples/versioned-blocks/go.mod
  spectests/go.mod
  test/go.mod
Due: dynsszgen

use custom libhashtree bindings to avoid misleading cgo build warning
  examples/basic/go.mod
  examples/basic/go.sum
  examples/codegen/go.mod
  examples/codegen/go.sum
  examples/custom-types/go.mod
  examples/custom-types/go.sum
  examples/progressive-merkleization/go.mod
  examples/progressive-merkleization/go.sum
  examples/versioned-blocks/go.mod
  examples/versioned-blocks/go.sum
  go.mod
  go.sum
  hasher/cgo/hashtree.go
  hasher/hasher.go
  hasher/hasher_cgo.go
  hasher/hasher_nocgo.go
  hasher/nocgo/hashtree.go
  hasher/nocgo/sha256_1_generic.go
  spectests/go.mod
  spectests/go.sum
  test/go.mod
  test/go.sum
Due: dynssz

throw error for invalid bool values during unmarshal
  codegen/gen_unmarshal.go
  sszutils/error.go
  unmarshal.go
  unmarshal_test.go
Due: dynssz, dynsszgen

sentinel bit validation for Bitlist types
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  hasher/hasher.go
  marshal.go
  marshal_test.go
  sszutils/error.go
  treeroot.go
  treeroot_test.go
  unmarshal.go
  unmarshal_test.go
Due: dynssz, dynsszgen

add `ssz-bitsize`/`dynssz-bitsize` tags for bitvector types + padding bit validation
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/types.go
  docs/code-generator.md
  docs/ssz-annotations.md
  docs/supported-types.md
  marshal.go
  marshal_test.go
  ssztags.go
  ssztags_test.go
  treeroot.go
  treeroot_test.go
  typecache.go
  unmarshal.go
  unmarshal_test.go
Due: dynssz, dynsszgen

add tests & update docs
  codegen/parser.go
  codegen/parser_test.go
  docs/ssz-annotations.md
  docs/supported-types.md
  marshal_test.go
  typecache.go
  typecache_test.go
Due: dynssz, dynsszgen

update README
  README.md
Due: dynssz

bump go version to `1.25`
  .github/workflows/release.yml
  Dockerfile
Due: dynssz

release `1.1.2`
  codegen/version.go
  examples/basic/go.mod
  examples/codegen/go.mod
  examples/custom-types/go.mod
  examples/progressive-merkleization/go.mod
  examples/versioned-blocks/go.mod
  spectests/go.mod
  test/go.mod
Due: dynsszgen

update github workflows
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

fix arm64 docker builds
  Dockerfile
Due: dynssz

optimize verify proof function
  treeproof/proof.go
  treeproof/proof_test.go
Due: none

optimize verify proof function
  treeproof/proof.go
Due: none

fix lint
  treeproof/proof.go
Due: none

fix test
  treeproof/proof_test.go
Due: none

update release workflow
  .github/workflows/release.yml
Due: none

optimize tree proof
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

implement stream based marshaling & unmarshalling
  const.go
  dynssz.go
  marshal_test.go
  marshal_writer.go
  sszutils/marshal.go
  sszutils/unmarshal.go
  sszutils/zerobytes.go
  stream/limitedreader.go
  typecache.go
  unmarshal_reader.go
  unmarshal_test.go
Due: dynssz

add dynamic reader & writer interfaces (preparation for codegen)
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  fastssz.go
  marshal.go
  marshal_writer.go
  sszutils/interfaces.go
  stream/bufferwriter.go
  typecache.go
  unmarshal.go
  unmarshal_reader.go
Due: dynssz, dynsszgen

fix heap allocation for bitlist htr calculation
  codegen/gen_hashtreeroot.go
  hasher/hasher.go
  treeroot.go
Due: dynssz, dynsszgen

commit
  .vscode/launch.json
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_marshal_writer.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/utils.go
  marshal.go
Due: dynssz, dynsszgen

refactor vector & list unmarshaling for performance
  codegen/gen_unmarshal.go
  sszutils/specvalue.go
  sszutils/unmarshal.go
Due: dynsszgen

refactor vector & list unmarshaling for performance
  .vscode/launch.json
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/utils.go
  sszutils/marshal.go
  sszutils/specvalue.go
  sszutils/unmarshal.go
Due: dynsszgen

fix wrong htr calculation in codegen code with dynamic byte slices with >32 bytes
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  codegen/tests/types.go
Due: dynsszgen

add `OffchainLabs/go-bitfield.Bitlist` to type detection
  codegen/parser.go
  typecache.go
Due: dynssz, dynsszgen

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
