Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codegen: satisfy golangci-lint (gocritic, gocyclo, shadow)
  codegen/gen_decoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  multidim_dynsize_test.go
Due: dynssz, dynsszgen

codegen/tests: skip TestCodegenNoDynNest when generated code is absent
  codegen/tests/codegen_test.go
Due: dynsszgen

codegen: treat a dynssz-size-only slice as a Vector, not a List
  codegen/parser.go
  codegen/tests/dynsize_vector_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

codegen: keep streaming output *Dyn-free and fix unexported generic-arg names
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_static_nodyn_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_atknest.yaml
  codegen/tests/generate.go
  codegen/tests/types.go
  codegen/typename.go
Due: dynsszgen

codegen/tests: skip TestCodegenAtkNest when generated code is absent
  codegen/tests/codegen_test.go
Due: dynsszgen

test: cover open-region stream decode and decoder edge branches
  reflection/overflow_internal_test.go
  sszutils/stream_test.go
  sszutils/utils_test.go
Due: none

ssztypes: reject inconsistent fixed-size array constraints
  ssztypes/typecache.go
Due: none

codegen: fix streaming decoder framing and enforce big.Int ssz-max
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_size.go
Due: dynsszgen

ssztypes: cover oversized-array and larger-view rejects
  ssztypes/typecache_test.go
Due: none

sszutils: drop redundant bounds check in fixed-width encoders
  sszutils/encoder_buffer.go
  sszutils/encoder_stream.go
Due: none

sszutils: inline the buffered fast path in stream decoders
  sszutils/decoder_stream.go
Due: none

Fuzzing fixes: unknown-size stream over-read + codegen without-dynamic-expressions delegation (#209)
  codegen/codegen_test.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_static_nodyn_test.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  codegen/recursion.go
  codegen/tests/codegen_test.go
  codegen/tests/dynsize_vector_test.go
  codegen/tests/gen_atknest.yaml
  codegen/tests/gen_nodynnest.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/generate.go
  codegen/tests/types.go
  codegen/typename.go
  multidim_dynsize_test.go
  reflection/overflow_internal_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  sszutils/decoder_stream.go
  sszutils/encoder_buffer.go
  sszutils/encoder_stream.go
  sszutils/stream_test.go
  sszutils/utils_test.go
Due: dynssz, dynsszgen

harden streaming error handling and guidance
  docs/streaming.md
  dynssz.go
  dynssz_test.go
  examples/streaming/README.md
  examples/streaming/main.go
  options.go
  sszutils/decoder_stream.go
  sszutils/stream_test.go
  tests/perftests/bench_test.go
Due: dynssz

bound unknown-size stream allocations
  codegen/gen_decoder.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/streaming.md
  dynssz_test.go
  reflection/unmarshal.go
  sszutils/unmarshal.go
  sszutils/utils_test.go
Due: dynssz, dynsszgen

extend fuzzer engine for new union behavior
  sszutils/utils_test.go
  tests/fuzz/engine/filler.go
  tests/fuzz/engine/filler_union_test.go
Due: none

improve test coverage
  reflection/common_internal_test.go
  sszutils/utils_test.go
Due: none

Harden unknown-size stream errors and allocations (#210)
  codegen/gen_decoder.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/streaming.md
  dynssz.go
  dynssz_test.go
  examples/streaming/README.md
  examples/streaming/main.go
  options.go
  reflection/common_internal_test.go
  reflection/unmarshal.go
  sszutils/decoder_stream.go
  sszutils/stream_test.go
  sszutils/unmarshal.go
  sszutils/utils_test.go
  tests/fuzz/engine/filler.go
  tests/fuzz/engine/filler_union_test.go
  tests/perftests/bench_test.go
Due: dynssz, dynsszgen

Allow declared named types with wrapper or union semantics at top level
  codegen/codegen_test.go
  codegen/generate.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

Fix defects found by differential fuzzing
  codegen/parser.go
  codegen/parser_test.go
  docs/supported-types.md
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  specvals.go
  specvals_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  sszutils/error.go
  sszutils/error_test.go
  sszutils/unmarshal.go
  sszutils/utils_test.go
  tests/fuzz/engine/filler.go
  tests/fuzz/engine/filler_union_test.go
  treeproof/tree.go
  treeproof/tree_test.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynssz, dynsszgen

Reject dynamic-list counts the region cannot hold
  codegen/gen_decoder.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  sszutils/error.go
  sszutils/error_test.go
Due: dynsszgen

Bound nesting depth in both engines
  codegen/codegen.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/recursion.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/supported-types.md
  docs/troubleshooting.md
  dynssz.go
  options.go
  reflection/common.go
  reflection/common_internal_test.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/overflow_internal_test.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  reflection/views_test.go
  ssztypes/typecache_test.go
  sszutils/error.go
  tests/fuzz/engine/engine.go
Due: dynssz, dynsszgen

Unpin the spectests toolchain, record archive coverage
  codegen/compat-tests/README.md
  tests/spectests/go.mod
Due: dynsszgen

Refuse hash tree roots for limit-less lists and bitlists
  codegen/codegen.go
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_extended.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  codegen/warnings.go
  docs/code-generator.md
  docs/extended-types.md
  docs/supported-types.md
  dynssz-gen/main.go
  dynssz_test.go
  reflection/common_test.go
  reflection/marshal_test.go
  reflection/sszsize_test.go
  reflection/treeroot.go
  reflection/treeroot_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  ssztypes/descriptor.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  ssztypes/typewrapper_test.go
  ssztypes/union_test.go
  union_test.go
Due: dynssz, dynsszgen

Keep field tags when tagging a progressive container
  tests/fuzz/typegen/generator.go
Due: none

Commit to presence in an optional's hash tree root
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  docs/extended-types.md
  docs/supported-types.md
  dynssz_test.go
  reflection/common_test.go
  reflection/treeroot.go
Due: dynssz, dynsszgen

Silence two linters over generated-code emission
  codegen/gen_decoder.go
  ssztypes/typecache.go
Due: dynsszgen

Keep the codegen suite passing without generated code
  codegen/tests/codegen_test.go
Due: dynsszgen

Merkleize a list of type wrappers by the wrapped type
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  reflection/treeroot.go
Due: dynsszgen

Require a dimension to be declared the same way by both tags
  docs/ssz-annotations.md
  multidim_dynsize_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  ssztypes/typewrapper.go
  ssztypes/union.go
Due: dynssz

Hash an over-capacity list the way fastssz does
  hasher/hasher.go
  hasher/hasher_test.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

Treat an undefined spec value like one resolving to zero
  codegen/tests/codegen_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  sszutils/specvalue.go
  sszutils/utils_test.go
Due: dynsszgen

Size a spec-driven array by the resolved length
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  sszutils/error.go
  sszutils/error_test.go
Due: dynsszgen

Decode into the pointers a target already holds
  codegen/tests/codegen_test.go
  docs/api-reference.md
  reflection/unmarshal.go
  tests/fuzz/engine/engine.go
Due: dynsszgen

Pin how a spec-independent build routes
  codegen/tests/codegen_test.go
  docs/code-generator-config.md
  docs/code-generator.md
Due: dynsszgen

State what a size is worth for a value that cannot encode
  codegen/tests/codegen_test.go
  docs/api-reference.md
  dynssz.go
  sszutils/interfaces.go
Due: dynssz, dynsszgen

Hold every proof chunk to one length
  docs/merkle-proofs.md
  reflection/unmarshal.go
  treeproof/proof.go
  treeproof/proof_test.go
Due: none

Pin that a vector of unions needs every element set
  docs/supported-types.md
  union_test.go
Due: dynssz

Say that a failed stream has already written
  codegen/tests/codegen_test.go
  docs/streaming.md
  dynssz.go
Due: dynssz, dynsszgen

Reject a limit on a dimension whose length is fixed
  codegen/parser.go
  codegen/parser_test.go
  docs/ssz-annotations.md
  dynssz_test.go
  ssztypes/typecache.go
Due: dynssz, dynsszgen

Reject an ssz-type dimension the type does not have
  docs/ssz-annotations.md
  dynssz_test.go
  ssztypes/typecache.go
Due: dynssz

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
