Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

hashing: call element delegates inside packed walker scopes (#229)
  codegen/gen_hashtreeroot.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/api-reference.md
  docs/code-generator.md
  docs/supported-types.md
  dynssz_test.go
  hasher/hasher.go
  hasher/hasher_test.go
  reflection/treeroot.go
  sszutils/error.go
  sszutils/interfaces.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynssz, dynsszgen

sszutils, reflection, dynssz: keep declared regions and size decodes from delivered bytes
  codegen/gen_decoder.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/api-reference.md
  docs/streaming.md
  dynssz.go
  dynssz_test.go
  options.go
  reflection/unmarshal.go
  sszutils/decoder_stream.go
  sszutils/stream_test.go
  sszutils/unmarshal.go
  sszutils/unmarshal_test.go
  sszutils/utils_test.go
Due: dynssz, dynsszgen

reflection: size a byte-sized element by its SSZ type
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
  reflection/sszsize.go
Due: dynssz, dynsszgen

ssztypes: detect promoted methods by method set, not by interface
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
  ssztypes/compatibility.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

treeproof: keep the scope stack balanced across the convenience puts
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: none

codegen: call depth methods only on types generated in the same run
  codegen/codegen.go
  codegen/codegen_test.go
  codegen/generate.go
  codegen/recursion.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

codegen, reflection, ssztypes: align custom-type, size and bit-size rules across engines
  README.md
  codegen/codegen_test.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_mixed.yaml
  codegen/tests/gen_nodynexpr.yaml
  codegen/tests/types.go
  docs/README.md
  docs/code-generator.md
  docs/delegation.md
  docs/streaming.md
  dynssz_test.go
  reflection/sszsize.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

ssztypes, dynssz: never delegate through promoted view methods
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz.go
  dynssz_test.go
  ssztypes/compatibility.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

dynssz-gen: merge repeated annotations in initialization order
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/aliased.go
  dynssz-gen/testpkg/testpkg.go
Due: dynsszgen

codegen: emit the packed start once under static generation
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_nodynexpr.yaml
  codegen/tests/types.go
Due: dynsszgen

ssztypes, codegen: unions carry the spec-dependence flags of their variants
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
  ssztypes/recursion.go
  ssztypes/typecache.go
Due: dynssz, dynsszgen

reflection: report the packed size of a delegate without narrowing it
  reflection/treeroot.go
  sszutils/error.go
Due: none

codegen: pack a list of wrapped wide integers like reflection does
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

reflection: delegate to a type that has only HashTreeRootWith
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  reflection/treeroot.go
Due: dynsszgen

codegen: compare walker parameter signatures in full
  codegen/parser.go
  codegen/parser_test.go
Due: dynsszgen

ssztypes, codegen: refuse a string as bitvector backing
  codegen/parser.go
  codegen/parser_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

codegen: reject a run-time list element size of zero before dividing by it
  codegen/gen_decoder.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

codegen: drop the unused primitive check
  codegen/gen_hashtreeroot.go
Due: dynsszgen

codegen: frame a present optional value at its runtime size
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_extended.yaml
  codegen/tests/types.go
Due: dynsszgen

codegen/tests: build the mixed-batch expectation from a local copy so the s390x assembler accepts it
  codegen/tests/codegen_test.go
Due: dynsszgen

treeproof, hasher, dynssz: return errors from GetTree and give proofs and zero hashes their own data
  docs/supported-types.md
  dynssz.go
  dynssz_test.go
  hasher/common.go
  hasher/hasher.go
  hasher/hasher_test.go
  sszutils/interfaces.go
  treeproof/tree.go
  treeproof/tree_test.go
  treeproof/wrapper.go
Due: dynssz

dynssz-gen, docs, ci: add the recursion-depth knob, sentinel every entry-point error, and tidy generated headers and CI config
  .github/dependabot.yml
  .github/workflows/examples.yml
  Dockerfile
  codegen/codegen_test.go
  codegen/generate.go
  docs/code-generator-config.md
  docs/code-generator.md
  docs/supported-types.md
  dynssz-gen/config.go
  dynssz-gen/config_test.go
  dynssz-gen/main.go
  dynssz.go
  tests/spectests/codegen-views/generate.sh
Due: dynssz, dynsszgen

sszutils: chain error path segments instead of copying the path per level
  dynssz.go
  sszutils/error.go
  sszutils/error_test.go
Due: dynssz

codegen: assert that a 32-bit host refuses a declaration past its int range at analysis
  codegen/codegen_test.go
Due: dynsszgen

sszutils, reflection, dynssz, docs: trust a declared stream size at every allocation site
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/api-reference.md
  docs/streaming.md
  dynssz.go
  dynssz_test.go
  reflection/unmarshal.go
  sszutils/unmarshal.go
  sszutils/unmarshal_test.go
  sszutils/utils_test.go
Due: dynssz, dynsszgen

codegen, dynssz, docs: import math only from an emitted guard, reject a negative delegated size at the entry points
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/tests/gen_single.yaml
  codegen/tests/generate.go
  codegen/tests/types.go
  dynssz.go
  dynssz_test.go
  examples/streaming/README.md
  examples/streaming/main.go
  sszutils/decoder_stream.go
  sszutils/unmarshal.go
Due: dynssz, dynsszgen

sszutils, codegen, docs: form spec-driven byte products through MulSize, state who checks a streamed region's end
  codegen/gen_common.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/streaming.md
  sszutils/unmarshal.go
  sszutils/utils_test.go
Due: dynsszgen

ssztypes, codegen: traverse a delegated type that closes a cycle with a build in flight
  codegen/parser.go
  codegen/tests/codegen_test.go
  docs/code-generator.md
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

dynssz-gen, codegen, sszutils, hasher: add -remove, align two parser refusals, and close four long-standing edges
  codegen/gen_common.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/code-generator.md
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz_test.go
  hasher/async.go
  hasher/async_test.go
  sszutils/decoder_stream.go
  sszutils/encoder_buffer.go
  sszutils/offsetpool.go
  sszutils/unmarshal.go
  sszutils/utils_test.go
Due: dynssz, dynsszgen

codegen, dynssz, ssztypes: emit no product for a one-byte factor, drop guards nothing can reach
  codegen/gen_common.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/parser.go
  dynssz.go
  dynssz_test.go
  ssztypes/typecache.go
Due: dynssz, dynsszgen

codegen, reflection: pad the walker only where a delegate can leave a partial chunk
  codegen/codegen_test.go
  codegen/gen_hashtreeroot.go
  docs/code-generator.md
  docs/supported-types.md
  reflection/treeroot.go
  sszutils/interfaces.go
Due: dynsszgen

dynssz-gen: cover the -remove flow end to end and drop its verbose log lines
  dynssz-gen/main.go
  dynssz-gen/main_test.go
Due: dynsszgen

ssztypes, codegen, reflection, hasher: refuse a cycle through a delegated type, keep the basic shape of a shallow delegate
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_extended.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/code-generator.md
  hasher/hasher.go
  reflection/common_test.go
  reflection/treeroot.go
  reflection/treeroot_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

dynssz, hasher: bound the prefix plus size in MarshalSSZTo, drop an abandoned job's panic, restore the wrapped-EOF test
  dynssz.go
  dynssz_test.go
  hasher/async.go
  hasher/async_test.go
Due: dynssz

sszutils, codegen, ssztypes, reflection: bound every size to the SSZ offset width where it enters
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_64bit_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  codegen/tests/types_64bit.go
  docs/ssz-annotations.md
  dynssz.go
  dynssz_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  sszutils/unmarshal.go
  sszutils/utils_test.go
Due: dynssz, dynsszgen

dynssz-gen: restore the -remove stash on a panic and never overwrite an interrupted run's stash
  docs/code-generator.md
  dynssz-gen/main.go
  dynssz-gen/main_test.go
Due: dynsszgen

reflection, codegen, sszutils: verify that a composite delegate left whole chunks
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/supported-types.md
  reflection/treeroot.go
  sszutils/error.go
Due: dynsszgen

codegen: keep the SSZ shape a delegated type declares, and gate its cycle refusal like the type cache
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_extended.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
Due: dynssz, dynsszgen

ssztypes, codegen: measure a bit count by its bytes, widen every runtime field index
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  ssztypes/descriptor.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

dynssz-gen: name each output file once
  dynssz-gen/config.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
Due: dynsszgen

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
