Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

treeproof: build merkle trees from depth so huge list limits don't panic
  reflection/treeroot_test.go
  treeproof/errpath_test.go
  treeproof/proof_test.go
  treeproof/tree.go
  treeproof/tree_test.go
  treeproof/wrapper.go
  treeproof/wrapper_interleave_test.go
  treeproof/wrapper_overflow_test.go
  treeproof/wrapper_test.go
Due: none

reflection: preserve exact float32 bits instead of normalizing NaN
  codegen/gen_encoder.go
  codegen/gen_size.go
  dynssz_test.go
  reflection/common.go
  reflection/marshal.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: dynssz, dynsszgen

codegen: fix zero-padding and nil-guard for pointer vector/wrapper shapes
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

test: restore coverage for spec expressions, tree builders and static sizing
  specvals.go
  specvals_test.go
  ssztypes/staticsize_test.go
  treeproof/tree_test.go
Due: dynssz

go fmt
  ssztypes/staticsize_test.go
Due: none

guard the SSZ-size int conversion and drop a dead stream-length check
  dynssz.go
  sszutils/decoder_stream.go
Due: dynssz

test: restore coverage for custom hashing, stream edges and native hashing
  dynssz_test.go
  hasher/hasher_test.go
  reflection/treeroot_test.go
  ssztypes/staticsize_test.go
  ssztypes/typecache_test.go
  sszutils/stream_test.go
Due: dynssz

go fmt
  dynssz_test.go
  reflection/treeroot_test.go
  ssztypes/typecache_test.go
Due: dynssz

ci: run unit test variants in parallel; extend test coverage
  .github/workflows/ci-tests.yml
  dynssz-gen/config_test.go
  dynssz_test.go
  treeproof/proof_test.go
  treeproof/wrapper_test.go
Due: dynssz, dynsszgen

apply WithNoDelegation to view-descriptor operations
  dynssz.go
  dynssz_test.go
  options.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  reflection/views_test.go
Due: dynssz

Fix panics and memory-aliasing crashes in hashing and codegen
  codegen/parser.go
  codegen/parser_test.go
  dynssz_test.go
  ssztypes/compatibility.go
  treeproof/proof_test.go
  treeproof/tree.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynssz, dynsszgen

Harden zero-hash access, tree construction, proofs and code generation
  codegen/codegen_test.go
  codegen/generate.go
  codegen/parser.go
  codegen/typename.go
  codegen/typename_test.go
  hasher/common.go
  hasher/hasher_test.go
  treeproof/proof.go
  treeproof/proof_test.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynsszgen

Align engine accept/reject rules and enforce limits across operations
  codegen/codegen_test.go
  codegen/parser.go
  codegen/parser_test.go
  dynssz_test.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
Due: dynssz, dynsszgen

treeproof: restore v1 exported Wrapper Commit*/AddEmpty API
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: none

Honor fastssz ssz tags, auto-index progressive fields, reject size conflicts
  codegen/parser.go
  docs/streaming.md
  dynssz.go
  dynssz_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Fix view code regeneration, guard stream marshal length, clarify docs
  codegen/generate.go
  codegen/parser.go
  docs/ssz-annotations.md
  dynssz.go
  dynssz_test.go
  treeproof/tree.go
Due: dynssz, dynsszgen

Support recursive types in the reflection engine
  dynssz_test.go
  ssztypes/recursion.go
  ssztypes/typecache.go
Due: dynssz

Support recursive types in the code generator
  codegen/codegen_test.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/recursion.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  ssztypes/recursion.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Cache hint-carrying descriptor builds per hint combination
  codegen/parser.go
  codegen/parser_test.go
  dynssz_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

ci: randomize benchmark binary layout for comparable results
  .github/workflows/benchmark.yml
Due: none

Cover engine-internal validation paths and cyclic-graph edge cases
  dynssz_test.go
  reflection/marshal_test.go
  ssztypes/recursion.go
  ssztypes/typecache_test.go
  treeproof/wrapper_test.go
Due: dynssz

ci: pin benchmark function alignment for deterministic comparisons
  .github/workflows/benchmark.yml
Due: none

treeproof: state the exact Wrapper.Hash contract in its doc comment
  treeproof/wrapper.go
Due: none

Conform union selectors to EIP-8016 and harden the generated union sizer
  codegen/gen_size.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/types.go
  docs/api-reference.md
  docs/supported-types.md
  dynssz_test.go
  reflection/common_test.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/sszsize_test.go
  reflection/treeroot.go
  reflection/treeroot_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  ssztypes/typecache_test.go
  ssztypes/union.go
  ssztypes/union_test.go
  union.go
  union_test.go
Due: dynssz, dynsszgen

Migrate union example to 1-based selectors, fix pointer-type naming in codegen
  codegen/generate.go
  examples/progressive-merkleization/main.go
  reflection/treeroot.go
  reflection/treeroot_test.go
Due: dynsszgen

Add classic spec Union support via the generic Union[T] helper
  README.md
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/api-reference.md
  docs/code-generator.md
  docs/ssz-annotations.md
  docs/supported-types.md
  reflection/common_internal_test.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/descriptor.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  ssztypes/union.go
  ssztypes/union_test.go
  ssztypes/wellknown.go
  union.go
  union_test.go
Due: dynssz, dynsszgen

Make the union sizer test pass without generated code, gate it in CI
  .github/workflows/ci-tests.yml
  codegen/tests/codegen_test.go
Due: dynsszgen

lint: hoist the dynssz package path in the parser into a constant
  codegen/parser.go
Due: dynsszgen

Add examples: chain-specs, streaming, merkle-proofs, fork-views
  .github/workflows/examples.yml
  README.md
  examples/chain-specs/README.md
  examples/chain-specs/go.mod
  examples/chain-specs/go.sum
  examples/chain-specs/main.go
  examples/chain-specs/specs/mainnet.yaml
  examples/chain-specs/specs/minimal.yaml
  examples/fork-views/README.md
  examples/fork-views/generate.yaml
  examples/fork-views/go.mod
  examples/fork-views/go.sum
  examples/fork-views/main.go
  examples/merkle-proofs/README.md
  examples/merkle-proofs/go.mod
  examples/merkle-proofs/go.sum
  examples/merkle-proofs/main.go
  examples/streaming/README.md
  examples/streaming/go.mod
  examples/streaming/go.sum
  examples/streaming/main.go
Due: dynssz

Potential fix for pull request finding
  examples/streaming/main.go
Due: none

Extend classic union coverage: codegen harness scenarios, size-path nil guard
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  union_test.go
Due: dynssz, dynsszgen

codegen: exact scalar root lengths, stream big.Int validation, self-import guard, encoder growth
  codegen/codegen_test.go
  codegen/gen_decoder.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_extended.yaml
  codegen/tests/types.go
  codegen/typename.go
  sszutils/encoder_buffer.go
  sszutils/utils_test.go
Due: dynsszgen

treeproof/hasher: clone Node.Hash output, clamp mixin limit below chunk count, align AppendBytes32 padding
  hasher/hasher.go
  hasher/hasher_test.go
  treeproof/tree.go
  treeproof/tree_test.go
  treeproof/wrapper_test.go
Due: none

reflection: unify vector zero-padding elements, enforce decode limits, guard uint32 size overflow
  dynssz.go
  dynssz_test.go
  reflection/common.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  ssztypes/typecache.go
  sszutils/decoder_stream.go
  sszutils/stream_test.go
Due: dynssz

Never mutate caller input memory when zero-padding short vectors
  codegen/gen_hashtreeroot.go
  reflection/treeroot.go
  treeproof/tree.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynsszgen

reflection: unit-aware size-tag merge, uint64 value sizing, vector-length enforcement
  reflection/sszsize.go
  ssztypes/ssztags.go
Due: none

hasher: preserve partial-chunk tail in progressive collapse and merkleization
  hasher/hasher.go
  hasher/incremental_test.go
Due: none

codegen: reject bad top-level/view targets, skip no-expr views, validate fixed union variants
  codegen/gen_size.go
  codegen/generate.go
Due: dynsszgen

Add tests for wave-2 fixes: input mutation, size tags/overflow, union sizing, view/generic guards
  codegen/codegen_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
Due: dynssz, dynsszgen

Do not delegate SSZ to methods promoted from an embedded field
  codegen/codegen_test.go
  codegen/parser.go
  codegen/tests/types.go
  dynssz.go
  dynssz_test.go
  ssztypes/compatibility.go
  ssztypes/typecache.go
Due: dynssz, dynsszgen

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
