Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codecov.yml:

coverage:
  status:
    project: off
    patch: off

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: package_dynssz
      name: dynssz
      paths:
        - "*"
    - component_id: command_dynsszgen
      name: dynsszgen
      paths:
        - "codegen/**"
        - "dynssz-gen/**"

add docs
  docs/code-generator.md
  docs/ssz-annotations.md
Due: none

normalize error messages across codegen & reflection code paths
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/overflow_internal_test.go
  reflection/sszsize.go
  reflection/sszsize_test.go
  reflection/treeroot.go
  reflection/treeroot_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
  sszutils/error.go
Due: dynsszgen

reduce Collapse() calls to every 256th item & fix go fmt issue in generated code
  codegen/gen_hashtreeroot.go
  reflection/treeroot.go
Due: dynsszgen

improve test coverage
  sszutils/error_test.go
  treeproof/proof_test.go
  treeproof/tree_test.go
  treeproof/wrapper_overflow_test.go
  treeproof/wrapper_test.go
Due: none

improve test coverage
  hasher/hasher_test.go
  reflection/treeroot_test.go
  treeproof/proof_test.go
  treeproof/wrapper_test.go
Due: none

improve codegen test coverage
  codegen/gen_encoder.go
  codegen/tests/codegen_test.go
  codegen/tests/generate.go
  codegen/tests/types.go
Due: dynsszgen

fix golangci-lint issue
  codegen/gen_encoder.go
Due: dynsszgen

add extended hasher tests
  hasher/hasher_extended_test.go
Due: none

add backward compatibility test with code generated by older releases
  .github/scripts/prepare-release.sh
  .github/workflows/ci-tests.yml
  .gitignore
  Makefile
  codegen/compat-tests/codegen_v1.1.1.tar.gz
  codegen/compat-tests/codegen_v1.1.2.tar.gz
  codegen/compat-tests/codegen_v1.2.0.tar.gz
  codegen/compat-tests/codegen_v1.2.1.tar.gz
  codegen/compat-tests/codegen_v1.2.2.tar.gz
Due: dynssz, dynsszgen

add README
  codegen/compat-tests/README.md
Due: dynsszgen

add function header docs to generated code
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
Due: dynsszgen

update go-bitfield
  docs/supported-types.md
  tests/perftests/gen_ssz.go
  tests/perftests/go.mod
  tests/perftests/go.sum
  tests/perftests/types.go
Due: none

perf: optimize multiproof verification path
  treeproof/proof.go
Due: none

fix lint
  treeproof/proof.go
Due: none

fix linter issues
  codegen/gen_unmarshal.go
  dynssz-gen/main.go
Due: dynsszgen

treeproof: fix mixed-depth multiproof indices and add regression tests
  treeproof/proof.go
  treeproof/proof_test.go
Due: none

implement custom type annotations via `sszutils.Annotate`
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/generate.go
  codegen/tests/types.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  sszutils/annotate.go
  sszutils/annotate_test.go
Due: dynsszgen

always generate code for pointer types (lists & arrays too)
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  dynssz-gen/main.go
Due: dynsszgen

fix linter issues & update docs
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  docs/code-generator.md
  docs/ssz-annotations.md
Due: dynsszgen

improve test coverage
  codegen/tests/codegen_test.go
  codegen/tests/types.go
  dynssz-gen/main_test.go
  ssztypes/typecache_test.go
  sszutils/annotate_test.go
Due: dynsszgen

properly handle conflicting annotations (struct annotations > custom type annotations)
  codegen/parser.go
  codegen/tests/codegen_test.go
  ssztypes/typecache.go
Due: dynsszgen

always generate streaming code with dynamic expressions enabled
  codegen/gen_decoder.go
  codegen/gen_encoder.go
Due: dynsszgen

Fix ExpandSlice reset and lazy typecache index setup
  ssztypes/typecache.go
  sszutils/unmarshal.go
  sszutils/utils_test.go
Due: none

Use HashUint64Slice in hasher for uint64 arrays
  hasher/hasher.go
Due: none

consistently check list length limits in (un-)marshal code paths
  codegen/gen_decoder.go
  codegen/gen_unmarshal.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/unmarshal.go
  reflection/unmarshal_test.go
Due: dynsszgen

fix bitlist limit checks
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  tests/fuzz/engine/filler.go
Due: dynsszgen

improve test coverage & remove duplicate/dead code
  codegen/generate.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  ssztypes/wellknown.go
Due: dynsszgen

fix linter issue
  ssztypes/typecache.go
Due: none

remove dead branch in incremental progressive hasher
  hasher/hasher.go
  hasher/hasher_test.go
Due: none

improve treeproof test coverage
  treeproof/errpath_test.go
  treeproof/proof.go
  treeproof/tree.go
  treeproof/wrapper.go
Due: none

improve codegen test coverage
  codegen/codegen_test.go
  codegen/gen_decoder_test.go
  codegen/gen_encoder_test.go
  codegen/gen_hashtreeroot_test.go
  codegen/gen_marshal_test.go
  codegen/gen_size_test.go
  codegen/gen_unmarshal_test.go
  codegen/parser_test.go
  codegen/typename_test.go
  codegen/utils_test.go
Due: dynsszgen

fix linter issue
  codegen/parser.go
Due: dynsszgen

improve test coverage
  dynssz_test.go
  reflection/treeroot_test.go
  reflection/views_test.go
  ssztypes/typecache_test.go
Due: dynssz

improve test coverage
  codegen/codegen_test.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/generate.go
  codegen/tests/types.go
Due: dynsszgen

fix benchmark workflow
  .github/workflows/benchmark-comment.yml
  .github/workflows/benchmark.yml
  tests/perftests/.gitignore
  tests/perftests/gen_ssz.go
Due: none

trim benchmark comparison paths
  .github/workflows/benchmark.yml
Due: none

improve test coverage
  codegen/codegen_test.go
  codegen/gen_decoder.go
  codegen/gen_decoder_test.go
  codegen/gen_encoder.go
  codegen/gen_encoder_test.go
  codegen/gen_hashtreeroot_test.go
  codegen/gen_marshal_test.go
  codegen/gen_size_test.go
  codegen/gen_unmarshal_test.go
  codegen/tests/codegen_test.go
  codegen/tests/generate.go
  codegen/tests/types.go
  dynssz-gen/main_test.go
  dynssz.go
  options.go
Due: dynssz, dynsszgen

fix string pointer unmarshaling
  reflection/unmarshal.go
  reflection/unmarshal_test.go
Due: none

update docs
  README.md
  docs/README.md
  docs/api-reference.md
  docs/code-generator.md
  docs/getting-started.md
  docs/performance.md
  docs/ssz-annotations.md
  docs/streaming.md
  docs/supported-types.md
  docs/troubleshooting.md
  docs/type-wrapper.md
Due: dynssz
