Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codecov.yml:

coverage:
  status:
    project: off
    patch: off

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: package_dynssz
      name: dynssz
      paths:
        - "*"
    - component_id: command_dynsszgen
      name: dynsszgen
      paths:
        - "codegen/**"
        - "dynssz-gen/**"

clean up active fields collection from progressive containers in htr calculation
  codegen/gen_hashtreeroot.go
  treeroot.go
Due: dynssz, dynsszgen

refactor tests & improve coverage
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/parser_test.go
  common_test.go
  marshal.go
  marshal_test.go
  treeroot_test.go
  typecache.go
  typecache_test.go
  unmarshal.go
  unmarshal_test.go
Due: dynssz, dynsszgen

update README
  README.md
Due: dynssz

fix OOM issue
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

added OOM test
  treeproof/tree_test.go
Due: none

added comments
  treeproof/tree.go
Due: none

avoid unnecesary []byte casts
  codegen/gen_marshal.go
Due: dynsszgen

deduplicate dynamic expression evaluation
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  sszutils/specvalue.go
Due: dynsszgen

improve test coverage
  codegen/parser.go
  codegen/parser_test.go
  common_test.go
  dynssz.go
  marshal.go
  marshal_test.go
  sszsize.go
  sszsize_test.go
  ssztags_test.go
  treeroot.go
  treeroot_test.go
  typecache.go
  typecache_test.go
  union_test.go
  unmarshal.go
  unmarshal_test.go
  utils_test.go
  wrapper_test.go
Due: dynssz, dynsszgen

improve codegen test coverage
  codegen/gen_hashtreeroot.go
  codegen/gen_hashtreeroot_test.go
  codegen/gen_marshal.go
  codegen/gen_marshal_test.go
  codegen/gen_size.go
  codegen/gen_size_test.go
  codegen/gen_unmarshal.go
  codegen/gen_unmarshal_test.go
Due: dynsszgen

add test cases
  common_test.go
  dynssz.go
  marshal_test.go
  sszutils/unmarshal.go
  unmarshal_reader.go
  unmarshal_test.go
Due: dynssz

streaming support for reflection based marshaling
  buffer/buffer_encoder.go
  codegen/parser.go
  dynssz.go
  marshal.go
  sszutils/encoder.go
  typecache.go
Due: dynssz, dynsszgen

streaming support for reflection based unmarshaling
  buffer/buffer_decoder.go
  codegen/parser.go
  dynssz.go
  marshal.go
  sszutils/decoder.go
  typecache.go
  unmarshal.go
  unmarshal_test.go
Due: dynssz, dynsszgen

performance improvements & streaming entrypoints
  buffer_decoder.go
  buffer_encoder.go
  dynssz.go
  marshal.go
  marshal_test.go
  stream_decoder.go
  stream_encoder.go
  unmarshal.go
  unmarshal_test.go
Due: dynssz

streaming tests & cleanup
  marshal.go
  sszsize.go
  ssztags.go
  stream_encoder.go
  stream_test.go
  treeroot.go
  unmarshal.go
Due: dynssz

refactoring & encoder codegen
  codegen/codegen.go
  codegen/gen_encoder.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  codegen/tests/generate.go
  codegen/utils.go
  dynssz-gen/main.go
  dynssz.go
  fastssz.go
  marshal.go
  sszutils/decoder_buffer.go
  sszutils/decoder_stream.go
  sszutils/encoder_buffer.go
  sszutils/encoder_stream.go
  sszutils/interfaces.go
  sszutils/stream_test.go
  typecache.go
  unmarshal.go
Due: dynssz, dynsszgen

fixes for encoder codegen
  .vscode/launch.json
  codegen/gen_encoder.go
  codegen/tests/codegen_test.go
  marshal.go
  unmarshal.go
Due: dynssz, dynsszgen

deduplicate common code generator helpers
  codegen/gen_common.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/gen_unmarshal_test.go
Due: dynsszgen

implement decoder codegen
  codegen/gen_decoder.go
  codegen/generate.go
  codegen/tests/codegen_test.go
  sszutils/offsetpool.go
  unmarshal.go
Due: dynssz, dynsszgen

add internal buffer to StreamDecoder
  sszutils/decoder_stream.go
  sszutils/stream_test.go
Due: none

add streaming documentation
  README.md
  codegen/tests/codegen_test.go
  docs/api-reference.md
  docs/code-generator.md
  docs/streaming.md
Due: dynssz, dynsszgen

rename `CanSeek` to `Seekable`
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  docs/api-reference.md
  docs/streaming.md
  marshal.go
  sszutils/decoder.go
  sszutils/decoder_buffer.go
  sszutils/decoder_stream.go
  sszutils/encoder.go
  sszutils/encoder_buffer.go
  sszutils/encoder_stream.go
  sszutils/stream_test.go
  unmarshal.go
Due: dynssz, dynsszgen

small fixes & cleanup
  marshal.go
  marshal_test.go
  specvals.go
  ssztags.go
  treeroot.go
  unmarshal.go
Due: dynssz

small fixes for streaming codegen
  codegen/gen_decoder.go
Due: dynsszgen

performance tweaks for buffer marshaling
  marshal.go
  sszutils/encoder_buffer.go
  unmarshal.go
Due: dynssz

inline primitive en-/decoding for massive performance boost
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  sszutils/marshal.go
Due: dynsszgen

revert position based marshaling change
  codegen/gen_marshal.go
  sszutils/marshal.go
Due: dynsszgen

fix spectests
  spectests/init.go
  spectests/spectests_test.go
  ssztypes/descriptor.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  ssztypes/typewrapper.go
  ssztypes/typewrapper_test.go
  ssztypes/union.go
  ssztypes/union_test.go
Due: none

add fulu spec tests & test streaming codepath too
  spectests/go.mod
  spectests/go.sum
  spectests/spectests_fulu_test.go
  spectests/spectests_test.go
Due: none

update presets & fix fulu spec test
  spectests/presets/mainnet-preset.yaml
  spectests/presets/minimal-preset.yaml
  spectests/spectests_fulu_test.go
  spectests/spectests_test.go
Due: none

update release workflow
  .github/workflows/docker.yml
  .github/workflows/post-release.yml
  .github/workflows/release.yml
Due: none

release `1.2.0`
  codegen/version.go
  examples/basic/go.mod
  examples/codegen/go.mod
  examples/custom-types/go.mod
  examples/progressive-merkleization/go.mod
  examples/versioned-blocks/go.mod
  spectests/go.mod
  test/go.mod
Due: dynsszgen

codegen indentation & spacing fixes (go fmt compatible)
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/generate.go
Due: dynsszgen

fix code generation for primitive pointer types
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/generate.go
  codegen/tests/types.go
Due: dynsszgen

use for range in codegen
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
Due: dynsszgen

fix codegen test
  codegen/typename.go
Due: dynsszgen

fix unused `encoding/binary` import in codegen
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
Due: dynsszgen

Optimize SSZ tag parsing functions for better performance
  ssztypes/ssztags.go
Due: none

implement progressive tree shape change
  codegen/tests/codegen_test.go
  hasher/hasher.go
  reflection/common_test.go
  reflection/treeroot_test.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynsszgen
