Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

perf: optimize MerkleizeWithMixin/Progressive mixin size encoding
  hasher/hasher.go
Due: none

perf: add fast path in Merkleize for 3-4 chunk inputs
  hasher/hasher.go
Due: none

perf: add fast path in Merkleize for exact 8-chunk inputs
  hasher/hasher.go
Due: none

perf: add fast path in Merkleize for exact 16-chunk inputs
  hasher/hasher.go
Due: none

perf: use HashUint64Slice for bulk HTR of uint64 vectors
  reflection/treeroot.go
Due: none

perf: reduce heap allocations in unmarshal and decoder paths
  reflection/common.go
  reflection/overflow_internal_test.go
  reflection/unmarshal.go
  sszutils/decoder_buffer.go
  sszutils/unmarshal.go
Due: none

perf: reduce heap allocations in decoder and unmarshal paths
  sszutils/decoder_buffer.go
  sszutils/unmarshal.go
Due: none

perf: eliminate Interface() boxing allocations in bulk uint64 paths
  reflection/marshal.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: none

perf: inline StreamEncoder scratch buffer to eliminate allocation
  sszutils/encoder_stream.go
Due: none

perf: pre-allocate hasher buffer to 4MB to avoid regrowth allocations
  hasher/hasher.go
Due: none

fix issues in outdated /test testing hive
  test/codegenTest.go
  test/go.mod
  test/go.sum
  test/perf_test.go
  test/performance.go
Due: none

fix: bulk uint64 unmarshal with defined types (e.g. []Gwei)
  reflection/unmarshal.go
Due: none

test: add defined uint64 type test cases for bulk paths
  reflection/common_test.go
Due: none

fix: guard all unsafe Pointer() calls with slice kind check
  reflection/marshal.go
  reflection/treeroot.go
Due: none

implement incremental hasher to reduce memory consumption for hashing large lists
  codegen/gen_hashtreeroot.go
  hasher/common.go
  hasher/hasher.go
  hasher/incremental_test.go
  reflection/treeroot.go
  sszutils/interfaces.go
  sszutils/utils_test.go
  treeproof/wrapper.go
Due: dynsszgen

fix: incremental hasher fixes and improvements
  codegen/gen_hashtreeroot.go
  hasher/hasher.go
  reflection/treeroot.go
Due: dynsszgen

fix linter issues
  codegen/gen_hashtreeroot.go
  hasher/hasher.go
  hasher/incremental_test.go
  reflection/treeroot.go
Due: dynsszgen

avoid bitlist allocation in htr & cleanup hasher
  hasher/common.go
  hasher/hasher.go
  hasher/hasher_test.go
Due: none

clean up incremental hasher implementation
  codegen/gen_hashtreeroot.go
  hasher/common.go
  hasher/hasher.go
  reflection/treeroot.go
  sszutils/interfaces.go
  sszutils/utils_test.go
  treeproof/wrapper.go
Due: dynsszgen

fix benchmark workflow
  .github/workflows/benchmark.yml
Due: none

ignore tests in codecov
  codecov.yml
Due: dynssz

fix lint
  treeproof/proof.go
Due: none

perf: speed up VerifyMultiproof for full-tree proofs
  treeproof/proof.go
  treeproof/tree.go
Due: none

@pk910 feedback changes
  treeproof/proof.go
Due: none

added test cases
  treeproof/proof_test.go
Due: none

fix benchmark workflow
  .github/workflows/benchmark-comment.yml
  .github/workflows/benchmark.yml
Due: none

perf: reduce code generation string and import overhead
  codegen/generate.go
  codegen/utils.go
Due: dynsszgen

optimize proof verification
  treeproof/proof.go
Due: none

optimize tree construction and empty-node caching
  treeproof/tree.go
Due: none

optimize zero-hash lookups in hasher common utilities
  hasher/common.go
Due: none

fix lint
  treeproof/tree.go
Due: none

parse annotations from comments
  codegen/parser.go
  codegen/tests/types.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
Due: dynsszgen

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
