Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

v1.4.0-pre3: follow-up fixes (#235)
  README.md
  codegen/compat-tests/README.md
  codegen/compat-tests/codegen_v1.3.3.tar.gz
  codegen/gen_size.go
  codegen/sizeinventory_test.go
  codegen/tests/platform_test.go
  docs/delegation.md
  docs/getting-started.md
  dynssz_test.go
  examples/htr-caching/README.md
  examples/htr-caching/main.go
  hasher/hasher.go
  hasher/hasher_test.go
  multidim_dynsize_test.go
  reflection/common.go
  reflection/common_internal_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  sszutils/decoder_stream.go
  sszutils/stream_test.go
  treeproof/tree.go
  treeproof/tree_test.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
  union_test.go
Due: dynssz, dynsszgen

Gate fastssz delegation on any resolved spec value, and resolve only what differs
  codegen/compat-tests/README.md
  codegen/compat-tests/codegen_v1.3.0.tar.gz
  codegen/compat-tests/codegen_v1.3.1.tar.gz
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/delegation.md
  dynssz_test.go
  reflection/marshal.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/descriptor.go
  ssztypes/recursion.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Refuse a dynssz literal that differs from its static tag
  codegen/codegen_test.go
  codegen/parser_test.go
  docs/delegation.md
  docs/ssz-annotations.md
  dynssz_test.go
  ssztypes/ssztags.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Refuse a dynssz-max literal against the ssz-max:"0" placeholder
  docs/ssz-annotations.md
  ssztypes/ssztags.go
  ssztypes/typecache_test.go
Due: none

tests: do not shadow err in the placeholder literal case
  ssztypes/typecache_test.go
Due: none

Keep a type's own methods when a field tag adds nothing to its annotation
  codegen/parser.go
  codegen/parser_test.go
  docs/ssz-annotations.md
  dynssz_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Compare a reference's parsed hints with the annotation, not its tag keys
  codegen/parser.go
  codegen/parser_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Gate fastssz delegation on any resolved spec value, resolve only what differs (#237)
  codegen/codegen_test.go
  codegen/compat-tests/README.md
  codegen/compat-tests/codegen_v1.3.0.tar.gz
  codegen/compat-tests/codegen_v1.3.1.tar.gz
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/gen_unmarshal.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/delegation.md
  docs/ssz-annotations.md
  dynssz_test.go
  reflection/marshal.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/descriptor.go
  ssztypes/recursion.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Generator: refuse what it cannot size, describe overridden and custom types as the type cache does
  codegen/codegen_test.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Hasher: reduce an undeclared scope's deferred run to element roots under async hashing
  dynssz_test.go
  hasher/async.go
  hasher/async_test.go
Due: dynssz

Generator: drop the placeholder declaration that kept the sszutils import used
  codegen/generate.go
Due: dynsszgen

Generator: refuse a spec-only bound where it is derived in a static build
  codegen/codegen_test.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  ssztypes/typecache.go
Due: dynsszgen

Generator: frame a same-run type declared custom alike on both front ends
  codegen/parser.go
  codegen/parser_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Generator: keep the literal beside a custom width expression as the static fallback
  codegen/parser.go
  codegen/parser_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

ssztypes: cover the static-build width refusal and the same-run error path
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: none

Honour a field's SSZ type over a delegating type's own, whatever its annotation
  codegen/parser.go
  codegen/parser_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Size a custom type declared static from its sizer at run time, on both front ends
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_hashtreeroot.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/recursion.go
  codegen/recursion_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/delegation.md
  docs/supported-types.md
  reflection/treeroot.go
  ssztypes/descriptor.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Refuse a zero-width sizer element on every generated list path, and propagate the sizer-width flag
  codegen/gen_common.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_extended.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  ssztypes/descriptor.go
  ssztypes/recursion.go
  ssztypes/typecache.go
Due: dynsszgen

Generator refusals and parity for overridden, custom and static-build bounds; async hashing of undeclared scopes (#238)
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/gen_unmarshal.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/recursion.go
  codegen/recursion_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_extended.yaml
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/delegation.md
  docs/supported-types.md
  dynssz_test.go
  hasher/async.go
  hasher/async_test.go
  reflection/treeroot.go
  ssztypes/descriptor.go
  ssztypes/recursion.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Close a large uint in uint64 words by the walker's scope, so a generated delegate packs inside a packed scope
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
  hasher/hasher.go
  hasher/hasher_extended_test.go
  hasher/hasher_test.go
  reflection/treeroot.go
  sszutils/interfaces.go
  sszutils/utils_test.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynssz, dynsszgen

Close an async-flushed undeclared scope in place, bound a delegated list element by nothing, and size an expression-only custom width from its sizer
  codegen/codegen.go
  codegen/gen_common.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/code-generator.md
  hasher/async_test.go
  hasher/hasher.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Size an expression-only custom width from its sizer when the annotation is the type's own
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/ssz-annotations.md
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Fix async deferral of an undeclared scope, the reflect-API list bound, and expression-only custom widths (#239)
  codegen/codegen.go
  codegen/gen_common.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/code-generator.md
  docs/ssz-annotations.md
  hasher/async_test.go
  hasher/hasher.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynsszgen

Keep a Collapse hint from reshaping an undeclared scope, and declare the four-bit justification bits as a bitvector
  hasher/async_test.go
  hasher/hasher.go
  hasher/incremental_test.go
  tests/spectests/codegen-views/views.go
  tests/spectests/codegen/types.go
Due: none

Keep a Collapse hint from reshaping an undeclared scope, and declare the four-bit justification bits as a bitvector (#240)
  hasher/async_test.go
  hasher/hasher.go
  hasher/incremental_test.go
  tests/spectests/codegen-views/views.go
  tests/spectests/codegen/types.go
Due: none

Honor Annotate on types from other packages and on view fields
  codegen/parser.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/xann/xann.go
  dynssz-gen/testpkg/xann/xtypes/xtypes.go
  dynssz-gen/testpkg/xann/xviews/xviews.go
Due: dynsszgen

fix: keep WithNoDelegation off -legacy static methods
  codegen/tests/codegen_test.go
  docs/delegation.md
  ssztypes/typecache.go
Due: dynsszgen

Report unreadable annotations before generation errors, drop the findAnnotateCall wrapper, and fold the cross-package fixtures into testpkg
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/crosspkg.go
  dynssz-gen/testpkg/viewfix/sub/annotated.go
  dynssz-gen/testpkg/viewfix/viewfix.go
  dynssz-gen/testpkg/xann/xann.go
  dynssz-gen/testpkg/xann/xtypes/xtypes.go
  dynssz-gen/testpkg/xann/xviews/xviews.go
Due: dynsszgen

Honor Annotate on types from other packages and on view fields (#241)
  codegen/parser.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/crosspkg.go
  dynssz-gen/testpkg/viewfix/sub/annotated.go
  dynssz-gen/testpkg/viewfix/viewfix.go
Due: dynsszgen

Build a view of a view-serving type shallow through its view method set, framed by the view type's own ssz-static declaration
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  docs/delegation.md
Due: dynsszgen

Declare a generated type's minimum size beside ssz-static, and bound a list of delegated elements by it in both engines
  codegen/codegen.go
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/generate.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/gen_viewtypes4.yaml
  codegen/tests/types.go
  docs/delegation.md
  docs/ssz-annotations.md
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/crosspkg.go
  dynssz-gen/testpkg/third/third.go
  specvals.go
  specvals_test.go
  ssztypes/minsize.go
  ssztypes/minsize_test.go
  ssztypes/typecache.go
Due: dynssz, dynsszgen

Import a delegated child's declared floor, declare static sizes, record the literal in the parser, and order view packages before the root
  codegen/codegen_test.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_viewtypes4.yaml
  codegen/tests/types.go
  docs/delegation.md
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/crosspkg.go
  dynssz-gen/testpkg/extra/extra.go
Due: dynsszgen

Treat an unresolvable floor as no floor, order separately loaded packages by import path, and give bit lists and unions a one-byte floor
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/generate.go
  codegen/parser.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/gen_viewtypes4.yaml
  codegen/tests/types.go
  docs/ssz-annotations.md
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/extra2/extra2.go
  specvals.go
  specvals_test.go
  ssztypes/minsize.go
  ssztypes/minsize_test.go
  ssztypes/typecache.go
Due: dynssz, dynsszgen

Bound a declared floor to the int range before it enters the decoders
  ssztypes/minsize.go
Due: none

Read registrations in Go's initialization order, and give optionals and big.Ints a one-byte floor
  codegen/gen_common.go
  codegen/generate.go
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/extra2/extra2.go
  ssztypes/minsize_test.go
  ssztypes/typecache.go
Due: dynsszgen

Test every basic shape and width, both custom static bake refusals, and drop the unreachable max-tag branch
  codegen/parser_test.go
  ssztypes/ssztags.go
  ssztypes/typecache_test.go
Due: dynsszgen

Test a fallback whose digits overflow
  specvals_test.go
Due: dynssz

Frame a view of a view-serving type by its own ssz-static declaration, and bound lists of delegated elements by their guaranteed fixed section (#243)
  codegen/codegen.go
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/generate.go
  codegen/parser.go
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/gen_viewtypes4.yaml
  codegen/tests/types.go
  docs/delegation.md
  docs/ssz-annotations.md
  dynssz-gen/main.go
  dynssz-gen/main_test.go
  dynssz-gen/testpkg/crosspkg.go
  dynssz-gen/testpkg/extra/extra.go
  dynssz-gen/testpkg/third/third.go
  specvals.go
  specvals_test.go
  ssztypes/minsize.go
  ssztypes/minsize_test.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz, dynsszgen

Resolve the spec expressions of a generated type once per DynSsz instance
  codegen/codegen_test.go
  codegen/gen_common.go
  codegen/gen_decoder.go
  codegen/gen_decoder_test.go
  codegen/gen_encoder.go
  codegen/gen_encoder_test.go
  codegen/gen_hashtreeroot.go
  codegen/gen_hashtreeroot_test.go
  codegen/gen_marshal.go
  codegen/gen_marshal_test.go
  codegen/gen_size.go
  codegen/gen_size_test.go
  codegen/gen_unmarshal.go
  codegen/gen_unmarshal_test.go
  codegen/generate.go
  codegen/tests/codegen_test.go
  codegen/utils_test.go
  docs/code-generator.md
  dynssz.go
  examples/htr-caching/types_ssz.go
  specvals.go
  specvals_test.go
  sszutils/specvalue.go
  sszutils/specvalue_test.go
Due: dynssz, dynsszgen

Document each view dispatcher and separate it from the view methods it dispatches to
  codegen/generate.go
Due: dynsszgen

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
