Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

Run the official SSZ vectors from upstream main on generated types
  .github/workflows/ci-tests.yml
  tests/sszspecs/.gitignore
  tests/sszspecs/README.md
  tests/sszspecs/descriptor/descriptor.go
  tests/sszspecs/divergences_test.go
  tests/sszspecs/gen/main.go
  tests/sszspecs/registry.go
  tests/sszspecs/setup_test_data.sh
  tests/sszspecs/sszspecs_test.go
  tests/sszspecs/types_test.go
Due: none

Scope the generator's error checks and drop an unused lint directive
  tests/sszspecs/gen/main.go
Due: none

Run the official SSZ vectors from upstream main on generated types (#254)
  .github/workflows/ci-tests.yml
  tests/sszspecs/.gitignore
  tests/sszspecs/README.md
  tests/sszspecs/descriptor/descriptor.go
  tests/sszspecs/divergences_test.go
  tests/sszspecs/gen/main.go
  tests/sszspecs/registry.go
  tests/sszspecs/setup_test_data.sh
  tests/sszspecs/sszspecs_test.go
  tests/sszspecs/types_test.go
Due: none

Look up a generated type's spec set in a pointer-keyed map instead of a sync.Map
  dynssz.go
  specvals.go
Due: dynssz

Memoize promoted delegation methods in a pointer-keyed map and look them up once per MarshalSSZ
  dynssz.go
  ssztypes/compatibility.go
  ssztypes/typecache.go
Due: dynssz

Size the items of a list of byte lists by their length in the reflection walk
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/sszsize.go
Due: none

Reuse the stream encoder of MarshalSSZWriter across calls
  dynssz.go
  dynssz_test.go
  sszutils/encoder_stream.go
  sszutils/stream_test.go
Due: dynssz

Take the specs of a generated size closure from its context argument
  codegen/codegen_test.go
  codegen/gen_encoder.go
Due: dynsszgen

Take the encoders and decoders of the entry points from pools
  dynssz.go
  dynssz_test.go
  sszutils/decoder_buffer.go
  sszutils/decoder_stream.go
  sszutils/encoder_buffer.go
  sszutils/stream_test.go
Due: dynssz

Publish a promoted-methods entry without rechecking under the lock
  ssztypes/compatibility.go
Due: none

Empty the pools before each measured decode in the allocation comparison
  dynssz_test.go
Due: dynssz

Pre-release performance refinement: cheaper per-call lookups, byte-list sizing, pooled encoders and decoders (#255)
  codegen/codegen_test.go
  codegen/gen_encoder.go
  dynssz.go
  dynssz_test.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/sszsize.go
  specvals.go
  ssztypes/compatibility.go
  ssztypes/typecache.go
  sszutils/decoder_buffer.go
  sszutils/decoder_stream.go
  sszutils/encoder_buffer.go
  sszutils/encoder_stream.go
  sszutils/stream_test.go
Due: dynssz, dynsszgen

Check the size against the platform int before SizeSSZ converts it
  dynssz.go
Due: dynssz

Check the size against the platform int before SizeSSZ converts it (#256)
  dynssz.go
Due: dynssz

perf: decode reflection byte slices without boxing them
  reflection/bytes_decode_test.go
  reflection/unmarshal.go
Due: none

chore: move test to unmarshal_test
  reflection/bytes_decode_test.go
  reflection/unmarshal_test.go
Due: none

perf: handle uint64 and byte-array elements as one block in reflection
  reflection/common.go
  reflection/common_test.go
  reflection/marshal.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: none

perf: decode reflection byte slices without boxing them (#257)
  reflection/unmarshal.go
  reflection/unmarshal_test.go
Due: none

fix: remove both value and pointer forms in RemoveType
  dynssz_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz

perf: handle uint64 and byte-array elements as one block in reflection (#258)
  reflection/common.go
  reflection/common_test.go
  reflection/marshal.go
  reflection/treeroot.go
  reflection/unmarshal.go
Due: none

fix: remove both value and pointer forms in RemoveType (#259)
  dynssz_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz

release `1.4.0`
  codegen/compat-tests/codegen_v1.4.0.tar.gz
  codegen/version.go
  examples/basic/go.mod
  examples/chain-specs/go.mod
  examples/codegen/go.mod
  examples/custom-types/go.mod
  examples/fork-views/go.mod
  examples/htr-caching/go.mod
  examples/merkle-proofs/go.mod
  examples/progressive-merkleization/go.mod
  examples/streaming/go.mod
  examples/versioned-blocks/go.mod
  tests/perftests/go.mod
  tests/spectests/go.mod
Due: dynsszgen

fix: read the package clause for reflect-typed generation
  codegen/codegen_test.go
  codegen/generate.go
Due: dynsszgen

Keep the analyzeTypes doc comment on analyzeTypes
  codegen/generate.go
Due: dynsszgen

update CHANGELOG.md for v1.4.0
  CHANGELOG.md
Due: dynssz

Keep generator tests out of the codegen harness, and gate the compat archive
  .github/scripts/check-compat-harness.sh
  .github/scripts/prepare-release.sh
  .github/workflows/ci-tests.yml
  codegen/codegen_test.go
  codegen/compat-tests/README.md
  codegen/compat-tests/codegen_v1.4.0.tar.gz
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/probe_test.go
Due: dynsszgen

fix: read the package clause for reflect-typed generation (#260)
  codegen/codegen_test.go
  codegen/generate.go
Due: dynsszgen

Run the packed-harness check only in the release script
  .github/scripts/check-compat-harness.sh
  .github/workflows/ci-tests.yml
  codegen/compat-tests/README.md
Due: dynsszgen

Keep generator tests out of the codegen harness, and gate the compat archive (#261)
  .github/scripts/check-compat-harness.sh
  .github/scripts/prepare-release.sh
  codegen/codegen_test.go
  codegen/compat-tests/README.md
  codegen/compat-tests/codegen_v1.4.0.tar.gz
  codegen/parser_test.go
  codegen/tests/codegen_test.go
  codegen/tests/probe_test.go
Due: dynsszgen

Look delegation methods up by literal name so the linker keeps method pruning
  codegen/parser.go
  codegen/parser_test.go
  ssztypes/compatibility.go
  ssztypes/typecache_test.go
Due: dynsszgen

Size and hash a child through its static method on the same condition as marshal
  codegen/gen_hashtreeroot.go
  codegen/gen_size.go
  docs/delegation.md
Due: dynsszgen

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
