Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

Fix short-leaf gather corruption, honor WithNoFastHash, harden async API
  dynssz.go
  dynssz_test.go
  hasher/async.go
  hasher/async_test.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynssz

GetProofs: direct Merkle proof generation on the optimized hashing path
  dynssz.go
  hasher/hasher.go
  hasher/hasher_test.go
  proofs_test.go
  treeproof/getproofs_test.go
  treeproof/proofhasher.go
  treeproof/proofhasher_internal_test.go
  treeproof/proofschedule.go
Due: dynssz

Streaming tree finalization: flush hash batches during the walk
  options.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynssz

Pipelined finalization with explicit Finalize options
  dynssz.go
  dynssz_test.go
  hasher/async.go
  hasher/async_test.go
  options.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynssz

treeproof: pruned proof capture with GetProofs and WithTreeIndices
  dynssz.go
  dynssz_test.go
  getproofs_test.go
  hasher/common.go
  hasher/hasher.go
  hasher/hasher_test.go
  options.go
  treeproof/proofcapture.go
  treeproof/proofcapture_test.go
  treeproof/proofschedule.go
  treeproof/treebuilder.go
  treeproof/treebuilder_test.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynssz

treeproof: native schedule descent for progressive containers, optionals and unions
  getproofs_test.go
  treeproof/proofcapture.go
  treeproof/proofcapture_test.go
  treeproof/proofschedule.go
Due: dynssz

Finalize: single-batch aliased subtrees, honor WithHashFn on all paths
  dynssz.go
  ssztypes/typecache_test.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynssz

Replace finalize pipeline with slot-based flushes on a shared worker pool
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

Widen the cross-batch alias test past the scaled flush size
  treeproof/tree_test.go
Due: none

improve test coverage
  dynssz.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynssz

Rewrite tree finalization: compact nodes, sequential in-place batching
  dynssz.go
  dynssz_test.go
  options.go
  treeproof/tree.go
  treeproof/tree_test.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynssz

Pin the GetTree concurrency boundary, add finalize benchmarks and docs
  docs/api-reference.md
  docs/merkle-proofs.md
  dynssz_test.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynssz

tests/fuzz: add deep-oracle battery to the differential fuzzer
  tests/fuzz/README.md
  tests/fuzz/cmd/fuzz/main.go
  tests/fuzz/engine/engine.go
  tests/fuzz/engine/oracle_ref.go
  tests/fuzz/engine/oracles.go
  tests/fuzz/engine/proofs.go
  tests/fuzz/engine/reporter.go
Due: none

tests/fuzz: satisfy golangci-lint (exhaustive default cases, bitlist/bitvector consts, whitespace)
  tests/fuzz/engine/oracle_ref.go
  tests/fuzz/engine/proofs.go
Due: none

Keep batching across aliased subtrees: flush pending on revisit
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

Guard oversized leaf values, document GetTree's error contract
  dynssz.go
  treeproof/tree.go
  treeproof/tree_test.go
Due: dynssz

Batched tree finalization (#222)
  docs/api-reference.md
  docs/merkle-proofs.md
  dynssz.go
  dynssz_test.go
  ssztypes/typecache_test.go
  treeproof/tree.go
  treeproof/tree_test.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynssz

fix GetTree htr mismatch
  treeproof/wrapper.go
  treeproof/wrapper_interleave_test.go
Due: none

bump version to `1.3.3`
  codegen/version.go
Due: dynsszgen

update CHANGELOG.md for v1.3.3
  CHANGELOG.md
Due: dynssz

treeproof: compare the leaf capacity in uint64 so 32-bit builds accept deep trees
  treeproof/tree.go
  treeproof/tree_test.go
Due: none

codegen: recognise view methods when go/types materialises the any alias, test on Go 1.27
  .github/workflows/ci-tests.yml
  codegen/codegen_test.go
  codegen/parser.go
  codegen/parser_test.go
  dynssz-gen/main_test.go
Due: dynsszgen

codegen: keep the nil pointer fill-in local in generated read-only methods
  codegen/gen_encoder.go
  codegen/gen_hashtreeroot.go
  codegen/gen_marshal.go
  codegen/tests/codegen_test.go
Due: dynsszgen

ssztypes, codegen: take the bulk byte flag from the runtime element type
  codegen/parser.go
  codegen/parser_test.go
  reflection/unmarshal_test.go
  ssztypes/typecache.go
Due: dynsszgen

ssztypes: require one unit per size dimension in both tag readers
  codegen/codegen_test.go
  docs/ssz-annotations.md
  dynssz_test.go
  ssztypes/ssztags.go
Due: dynssz, dynsszgen

ssztypes: include hint-carrying variants in cache removal and listing
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: none

dynssz: hold a declared stream size to the maximum stream size
  docs/api-reference.md
  docs/streaming.md
  dynssz.go
  dynssz_test.go
  options.go
  sszutils/decoder_stream.go
Due: dynssz

reflection: serialize only the declared length of an oversized array of dynamic elements
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  reflection/marshal.go
  reflection/marshal_test.go
  reflection/sszsize.go
Due: dynsszgen

docs: describe async hashing and correct which hashers may be gated in
  README.md
  docs/api-reference.md
  docs/performance.md
  hasher/hasher.go
Due: dynssz

reflection: prefer the view encoder on a non-seekable encoder
  reflection/marshal.go
  reflection/views_test.go
Due: none

tests: cover a type that provides only a dynamic sizer
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  dynssz_test.go
Due: dynssz, dynsszgen

reflection: report a nil union data value as a variant type mismatch
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  union_test.go
Due: dynssz

bump internal version to `1.4.0-pre.3`
  codegen/version.go
Due: dynsszgen

tests: compile the codegen suite without generated code, bound the size conversion
  codegen/tests/codegen_test.go
  dynssz_test.go
  reflection/marshal_test.go
  reflection/overflow_internal_test.go
  reflection/sszsize.go
  reflection/unmarshal_test.go
Due: dynssz, dynsszgen

codegen: build the aliased any explicitly in the view detection test
  codegen/parser_test.go
Due: dynsszgen

tests: share package loads and reference roots across the slow suites
  codegen/codegen_test.go
  codegen/parser_test.go
  dynssz-gen/main_loader_test.go
  hasher/incremental_test.go
Due: dynsszgen

tests: mark the very-large hasher tests parallel at the top level
  hasher/incremental_test.go
Due: none

hashing: pack basic elements without delegating, pad after every delegate
  codegen/gen_hashtreeroot.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
  docs/code-generator.md
  dynssz.go
  dynssz_test.go
  reflection/treeroot.go
  ssztypes/ssztags.go
Due: dynssz, dynsszgen

hasher: pad the trailing partial chunk before reducing a collapsed scope
  hasher/hasher.go
  hasher/hasher_test.go
Due: none

codegen: copy byte-array elements in bulk only at their declared width
  codegen/gen_unmarshal.go
  codegen/tests/codegen_test.go
  codegen/tests/gen_ssz.yaml
  codegen/tests/types.go
Due: dynsszgen

Path conditions:
  dynssz: any of: *
  dynsszgen: any of: codegen/**, dynssz-gen/**
