Repository pk910/dynamic-ssz: changes, and which Codecov flags are due for each by the changed paths.
All: dynssz, dynsszgen

codecov.yml:

coverage:
  status:
    project: off
    patch: off

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: package_dynssz
      name: dynssz
      paths:
        - "*"
    - component_id: command_dynsszgen
      name: dynsszgen
      paths:
        - "codegen/**"
        - "dynssz-gen/**"

report what a hash walker recorded while hashing
  dynssz.go
  dynssz_test.go
  hasher/hasher.go
  hasher/hasher_extended_test.go
  sszutils/interfaces.go
  sszutils/utils_test.go
  treeproof/wrapper.go
Due: dynssz

hasher, treeproof: hand every caller the backend the pool holds
  dynssz_test.go
  hasher/common.go
  treeproof/tree.go
Due: dynssz

sszutils: answer alike for a region the decoder refused
  sszutils/decoder_buffer.go
  sszutils/stream_test.go
Due: none

report the condition a refused size belongs to
  codegen/gen_common.go
  codegen/gen_encoder.go
  codegen/gen_marshal.go
  codegen/gen_size.go
  codegen/tests/codegen_test.go
  codegen/tests/platform_test.go
  dynssz.go
  dynssz_test.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  ssztypes/ssztags.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  sszutils/error.go
  sszutils/error_test.go
Due: dynssz, dynsszgen

report a value only one marshal path accepts
  sszutils/stream_test.go
  tests/fuzz/engine/engine.go
Due: none

state what bounds every size the generators form
  codegen/sizeinventory_test.go
  tests/sizeguard/.gitignore
  tests/sizeguard/gen_ssz.yaml
  tests/sizeguard/matrix_test.go
  tests/sizeguard/sizeguard.go
  tests/sizeguard/types.go
Due: dynsszgen

report a reduction handed more chunks than its limit holds
  codegen/tests/codegen_test.go
  dynssz_test.go
  hasher/hasher.go
  sszutils/error.go
  treeproof/collapse_invariant_test.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynssz, dynsszgen

deps: hashtree-bindings v0.2.6
  examples/basic/go.mod
  examples/basic/go.sum
  examples/chain-specs/go.mod
  examples/chain-specs/go.sum
  examples/codegen/go.mod
  examples/codegen/go.sum
  examples/custom-types/go.mod
  examples/custom-types/go.sum
  examples/fork-views/go.mod
  examples/fork-views/go.sum
  examples/htr-caching/go.mod
  examples/htr-caching/go.sum
  examples/merkle-proofs/go.mod
  examples/merkle-proofs/go.sum
  examples/progressive-merkleization/go.mod
  examples/progressive-merkleization/go.sum
  examples/streaming/go.mod
  examples/streaming/go.sum
  examples/versioned-blocks/go.mod
  examples/versioned-blocks/go.sum
  go.mod
  go.sum
  tests/perftests/go.mod
  tests/perftests/go.sum
  tests/spectests/go.mod
  tests/spectests/go.sum
Due: dynssz

sszutils: ask a refused region for bytes, and state a size with no width
  sszutils/error_test.go
  sszutils/stream_test.go
Due: none

read a type stated by both tags as the type they name
  dynssz_test.go
  ssztypes/ssztags.go
  ssztypes/typecache_test.go
Due: dynssz

report the chunk limit on a collapsed scope too
  hasher/hasher.go
  treeproof/wrapper_test.go
Due: none

describe a type whose sizer states no size
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: none

say which limit a value past the platform range passed
  reflection/overflow_internal_test.go
  ssztypes/typecache_test.go
  sszutils/error.go
Due: none

hasher: build the default hash function once
  hasher/hasher.go
Due: none

codegen: count every emitter site, from the syntax tree
  codegen/sizeinventory_test.go
Due: dynsszgen

sszutils: restore ErrPlatformOverflowFn's released signature
  dynssz.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  sszutils/error.go
Due: dynssz

give every hashing entry point the same backend, and report one that refuses
  dynssz.go
  dynssz_test.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: dynssz

docs: state what the engines check, and every error they return
  docs/api-reference.md
Due: none

sszutils: state a width as a width on the walks
  dynssz.go
  reflection/marshal.go
  reflection/sszsize.go
  reflection/treeroot.go
  reflection/unmarshal.go
  sszutils/error.go
Due: dynssz

require a complete delegate surface to stand for a container
  dynssz_test.go
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: dynssz

treeproof: refuse a limit the leaves do not fit, mix in every active field
  treeproof/tree.go
  treeproof/tree_test.go
  treeproof/wrapper.go
Due: none

take a nil log callback as no callback
  dynssz.go
Due: dynssz

sszutils: cover every integer width a size is reported from
  sszutils/error_test.go
Due: none

ssztypes: refuse a union carrier the operations cannot read
  ssztypes/typecache.go
  ssztypes/typecache_test.go
Due: none

cover the refusals and the fallback the last three fixes added
  dynssz_test.go
  ssztypes/typecache_test.go
  treeproof/tree_test.go
Due: dynssz

ssztypes: hold a union selector in the byte the wire gives it
  ssztypes/typecache.go
  ssztypes/typecache_test.go
  union_test.go
Due: dynssz

sszutils: measure a stream read against the region remainder
  sszutils/decoder_stream.go
  sszutils/stream_test.go
Due: none

reflection: take a nil log callback as no callback
  reflection/common.go
  reflection/common_internal_test.go
Due: none

treeproof: answer no root where the hash backend refused one
  treeproof/tree.go
  treeproof/tree_test.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: none

codegen: hold platformGuard to every generator, not to a count
  codegen/sizeinventory_test.go
Due: dynsszgen

codegen: read a generated sizer's total unsigned at its bound
  codegen/gen_size.go
  codegen/tests/platform_test.go
Due: dynsszgen

hasher: name the sentinel Collapse's refusal actually carries
  hasher/hasher.go
Due: none

treeproof, hasher: say which backend each walker constructor resolves
  hasher/hasher.go
  treeproof/wrapper.go
  treeproof/wrapper_test.go
Due: none

treeproof: document the limit TreeFromNodesWithMixin refuses
  treeproof/tree.go
Due: none

docs: point the SSZ links at the specification that still exists
  README.md
  docs/getting-started.md
Due: dynssz

codegen: archive the generated code v1.3.3 shipped
  codegen/compat-tests/README.md
  codegen/compat-tests/codegen_v1.3.3.tar.gz
Due: dynsszgen

fold the multi-dimension size tests into dynssz_test.go
  dynssz_test.go
  multidim_dynsize_test.go
Due: dynssz

examples, hasher, treeproof: read HashErr where a captured root is kept
  dynssz_test.go
  examples/htr-caching/README.md
  examples/htr-caching/main.go
  hasher/hasher.go
  hasher/hasher_test.go
  treeproof/wrapper.go
Due: dynssz

docs: state the delegation trust boundary
  docs/delegation.md
Due: none
